@use '~assets/scss/vars';
@use '~assets/scss/mixins';

.nav {
  &-list {
    &__item {
      color: vars.$white;
      position: static;
    }
  }

  &-link {
    cursor: pointer;
  }

  &-item {
    &-megamenu {
      &__first-level {
        font-size: 16px;
        font-weight: 600;
        color: vars.$charcoal;

        &:hover {
          color: vars.$honey-yellow;
        }
      }
    }

    .nav-item-megamenu {
      background: vars.$white;
      position: absolute;
      left: 0;
      right: 0;
      width: 100vw;
      min-height: 50vh;
      overflow-y: scroll;
      padding-top: vars.$base-size * 5;
      padding-bottom: vars.$base-size * 5;
      border-bottom: 2px solid vars.$blue-yonder;
      color: black;
      transform: translate3d(0, 97px, 0) !important;

      &-main {
        transform: translate3d(0, 127px, 0) !important;
      }
    }
  }

  .second-level {
    &__link {
      &:hover {
        color: vars.$honey-yellow;
      }
    }
  }

  .commercial-product {
    border: 1px solid vars.$water;
    @include mixins.border-radius(vars.$base-size * 2);

    &__price {
      background: vars.$honey-yellow;
      color: vars.$white;
      font-weight: 600;
    }

    &__name {
      color: vars.$rich-black;
      font-weight: 600;
    }
  }

  .show-more {
    font-size: 1rem;
    font-weight: normal;
  }
}
