@use '~assets/scss/vars' as vars;

.nav {
  &-list {
    &__item {
      color: vars.$white;
    }
  }

  &-link {
    cursor: pointer;
  }

  &-item {

    &__megamenu {
      display: none;
    }

    &:hover {
      .nav-item__megamenu {
        background: vars.$white;
        display: flex;
        position: absolute;
        left: 0;
        right: 0;
        width: 100vw;
        min-height: 50vh;
        max-height: 80vh;
        border-bottom: 2px solid vars.$blue-yonder;
        color: black;
      }
    }
  }

}
