<nav class="nav">
  <ul class="nav-list navbar-nav flex-row w-100 justify-content-between">
    <li
      *ngFor="let menuItem of menu$ | async"
      class="nav-list__item nav-item"
      ngbDropdown>
      <a class="nav-link" ngbDropdownToggle>
        {{ menuItem.name }}
      </a>
      <div
        [ngClass]="{ 'nav-item-megamenu-main': isMainPage }"
        class="nav-item-megamenu dropdown-menu-start"
        ngbDropdownMenu>
        <div class="container">
          <div class="row">
            <div class="column-12 column-medium-9">
              <div class="row">
                <div
                  *ngFor="let firstLevel of menuItem.childs; let i = index"
                  class="column-12 column-medium-3">
                  <a
                    applaCloseDropdown
                    class="nav-item-megamenu__first-level"
                    routerLink="/{{
                      (appLanguage$ | async)?.code
                    }}/category/list/{{ firstLevel.link }}"
                    >{{ firstLevel.name }}</a
                  >
                  <ul class="list-unstyled second-level m-t-12px">
                    <li
                      *ngFor="
                        let secondLevel of firstLevel.childs
                          | slice: 0:(firstLevel.toggle ? undefined : 8)
                      "
                      class="m-b-8px">
                      <a
                        applaCloseDropdown
                        class="second-level__link"
                        routerLink="/{{
                          (appLanguage$ | async)?.code
                        }}/category/list/{{ secondLevel.value }}"
                        >{{ secondLevel.name }}</a
                      >
                    </li>
                  </ul>
                  <button
                    (click)="toggleMore(firstLevel)"
                    *ngIf="firstLevel.childs && firstLevel.childs.length > 9"
                    class="button p-0px text-orange show-more">
                    {{ firstLevel.toggle ? 'Show less' : 'Show more' }}
                  </button>
                </div>
              </div>
            </div>
            <div class="m-l-auto column-12 column-medium-3">
              <div class="display-flex flex-direction-column">
                <div
                  *ngFor="let product of menuItem.commercial_products"
                  class="commercial-product text-center m-b-12px">
                  <a
                    applaCloseDropdown
                    routerLink="/{{ (appLanguage$ | async)?.code }}/product/{{
                      product.store_slug
                    }}/{{ product.slug }}">
                    <img
                      [src]="
                        'https://storage.googleapis.com/images-appla/production/thumbs_150/' +
                        product.image
                      "
                      alt=""
                      applaErrorImage />
                    <p class="commercial-product__price">
                      From&nbsp;{{ product.price | currency }}
                    </p>
                    <p class="commercial-product__name">{{ product.name }}</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</nav>
