@use 'sass:map';
@use 'vars';
@use 'mixins';

$medium-devices-breakpoint: map.get(vars.$media-breakpoints, 'medium');

.header {

  @media (max-width: $medium-devices-breakpoint) {
    margin-bottom: vars.$base-size * 5;
  }

  @media (min-width: $medium-devices-breakpoint) {
    @include mixins.top-fixed-element;
  }

  &__top-text {
    color: vars.$white;
  }

  &__elements {
    background: vars.$blue-yonder;

    &-link {
      color: vars.$white;

      &:hover {
        color: vars.$honey-yellow;
      }
    }

    &-logo {
      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__navigation {
    background: vars.$united-nations-blue;
  }

  &__user-actions {
    &-sign {
      &:hover {
        color: vars.$white;
      }
    }
  }

  .mobile-links {
    &__item {
      color: vars.$white;
    }

    &_blue {
      background: vars.$dazzled-blue;
    }

    &_orange {
      background: vars.$honey-yellow;
    }
  }

  .profile-image {
    @include mixins.border-radius(50%);
  }
}
