<header class="header">
  <section class="header__elements p-t-16px p-b-16px">
    <div class="container">
      <p *ngIf="isMainPage" class="text-center header__top-text">
        {{ 'HEADER.TOP_TEXT' | translate }}
      </p>
      <div class="row align-items-center">
        <div class="column-12 text-center column-medium-2 column-large-1">
          <a [routerLink]="'/' | localize">
            <img
              alt="Appla"
              class="header__elements-logo img-responsive"
              src="assets/images/appla.svg" />
          </a>
        </div>
        <div
          class="column-2 display-none display-large-flex justify-content-space-around align-items-center">
          <a
            class="header__elements-link"
            href="https://blog.appla.cy/"
            target="_blank">
            Appla Lab
          </a>
          <a
            class="header__elements-link"
            href="https://blog.appla.cy/merchants/register/"
            target="_blank">
            {{ 'HEADER.JOIN_US' | translate }}
          </a>
        </div>
        <div
          class="column-12 column-medium-6 column-large-6 display-flex align-items-center">
          <appla-search-form></appla-search-form>
        </div>
        <div
          class="column-12 column-medium-4 column-large-3 display-flex justify-content-space-around align-items-center">
          <appla-languages-dropdown></appla-languages-dropdown>
          <button
            (click)="openMobilePanel()"
            class="button button_icon button_orange display-inline-flex align-items-center justify-content-center display-large-none"
            type="button">
            <fa-icon [icon]="faBars"></fa-icon>
          </button>
          <appla-cart-widget></appla-cart-widget>
          <div
            class="header__user-actions display-none display-large-inline-flex">
            <ng-container
              *ngIf="!(userState$ | async)?.user_data; else profileMenu">
              <button
                (click)="openLoginModal()"
                class="button button_transparent button_transparent_outline_orange m-r-8px">
                {{ 'HEADER.LOGIN' | translate }}
              </button>
              <a
                [routerLink]="'account/register'"
                class="header__user-actions-sign button button_orange"
                >{{ 'HEADER.SIGN_UP' | translate }}</a
              >
            </ng-container>
            <ng-template #profileMenu>
              <div ngbDropdown>
                <button class="button p-0px m-r-8px" ngbDropdownToggle>
                  <img
                    alt="Profile"
                    class="profile-image"
                    height="32"
                    src="/assets/images/profile/profile.png"
                    width="32" />
                </button>
                <div ngbDropdownMenu>
                  <!--                  <a ngbDropdownItem routerLink="./profile-page">Profile</a>-->
                  <a href="https://profile.angular.appla.cy/" ngbDropdownItem
                    >Profile</a
                  >
                  <button (click)="logout()" ngbDropdownItem>Logout</button>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="row display-small-none mobile-links p-t-16px">
        <div class="column-6 text-center">
          <a
            class="mobile-links__item mobile-links_blue display-block p-8px"
            href="https://angular.appla.cy/supersale"
            >Appla Super Sale</a
          >
        </div>
        <div class="column-6 text-center">
          <a
            class="mobile-links__item mobile-links_orange display-block p-8px"
            href="https://blog.appla.cy/merchants/register/"
            target="_blank"
            >{{ 'HEADER.JOIN_US' | translate }}</a
          >
        </div>
      </div>
    </div>
  </section>
  <section class="header__navigation display-none display-large-block">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <appla-navigation></appla-navigation>
        </div>
      </div>
    </div>
  </section>
</header>
