<header class="header">
  <section class="header__elements p-t-16px p-b-16px">
    <div class="container">
      <div class="row align-items-center">
        <div class="column-12 text-center column-medium-2 column-large-1">
          <a href="/">
            <img
              class="header__elements-logo img-responsive"
              src="assets/images/appla.svg"
              alt="Appla" />
          </a>
        </div>
        <div
          class="column-2 display-none display-large-flex justify-content-space-around align-items-center">
          <a
            class="header__elements-link"
            target="_blank"
            href="https://blog.appla.cy/">
            {{ 'HEADER.APPLA_LAB' | translate }}
          </a>
          <a
            class="header__elements-link"
            target="_blank"
            href="https://blog.appla.cy/merchants/register/">
            {{ 'HEADER.JOIN_US' | translate }}
          </a>
        </div>
        <div
          class="column-12 column-medium-6 column-xlarge-6 display-flex align-items-center">
          <appla-search-form></appla-search-form>
        </div>
        <div
          class="column-12 column-medium-4 column-large-3 display-flex justify-content-space-between align-items-center">
          <appla-languages-dropdown></appla-languages-dropdown>
          <button
            class="button button_icon button_orange display-inline-flex align-items-center justify-content-center display-large-none"
            type="button">
            <fa-icon [icon]="faBars"></fa-icon>
          </button>
          <appla-cart-widget></appla-cart-widget>
          <div
            class="header__user-actions display-none display-large-inline-flex">
            <button
              (click)="openLoginModal()"
              class="button button_transparent button_transparent_outline_orange m-r-8px">
              Login
            </button>
            <a
              href="/account/register"
              class="header__user-actions-sign button button_orange"
              >Sign Up</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="header__navigation display-none display-large-block">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <appla-navigation></appla-navigation>
        </div>
      </div>
    </div>
  </section>
</header>
