@use 'sass:map';
@use 'vars';
@use 'mixins';

$medium-devices-breakpoint: map.get(vars.$media-breakpoints, 'medium');

:host {
  display: flex;

  .cart {
    &::after {
      content: unset;
    }

    &-dropdown {
      min-width: 350px;

      @media (max-width: $medium-devices-breakpoint) {
        transform: translate3d(15%, 15%, 0) !important;
      }
    }
  }
}
