<div class="cart" ngbDropdown placement="bottom-end">
  <div class="display-inline-flex position-relative">
    <span *ngIf="productCount$ | async as productCount" class="cart-products">{{
      productCount
    }}</span>
    <button
      (click)="goToCart()"
      class="button button_icon button_orange display-flex align-items-center justify-content-center cart"
      ngbDropdownToggle
      type="button">
      <fa-icon [icon]="faCartShopping"></fa-icon>
    </button>
  </div>
  <div class="p-12px cart-dropdown" ngbDropdownMenu>
    <img alt="" class="w-100" src="assets/images/cart/empty-cart.svg" />
    <p>Empty cart</p>
  </div>
</div>
