<div class="container-fluid m-t-20px">
	<div class="row">
		<div class="col-3 d-none d-sm-block">
			<aside>
				<div class="m-b-20px">
					<appla-aside-widget widgetHeader="Categories">
						<ul class="list-unstyled p-l-20px p-r-20px">
							<li>Category one</li>
							<li>Category two</li>
							<li>Category three</li>
							<li>Category four</li>
						</ul>
					</appla-aside-widget>
				</div>

				<div>
					<appla-aside-widget widgetHeader="Price">
						<form class="form-price">
							<div class="row">
								<div class="col-5">
									<input type="text">
								</div>
								<div class="col-5">
									<input type="text">
								</div>
								<div class="col-2">
									<fa-icon class="form-price__icon" [icon]="faChevronRight"></fa-icon>
								</div>
							</div>
						</form>
					</appla-aside-widget>
				</div>
			</aside>
		</div>
		<div class="col-9">
			<main></main>
		</div>
	</div>
</div>
