@use '~assets/scss/vars' as vars;

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.tile {
  color: vars.$white;
  text-align: center;

  &.blue {
    background: vars.$blue-yonder;
  }

  &.orange {
    background: vars.$honey-yellow;
  }

  &__title {
    font-size: 23px;
  }
}
