<div class="now-trending">
  <div class="display-flex align-items-center m-b-20px">
    <fa-icon [icon]="faStar" class="now-trending__icon m-r-16px"></fa-icon>
    <h3 class="now-trending__header">Now trending</h3>
  </div>

  <owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let trend of trending">
      <ng-template carouselSlide>
        <a
          [routerLink]="['./category/list', trend.slug]"
          class="now-trending__link display-flex flex-column text-center">
          <div class="now-trending__image m-b-16px">
            <img
              [alt]="trend.name1"
              [src]="
                'https://storage.googleapis.com/images-appla/production/thumbs_150/' +
                trend.picture
              "
              class="now-trending__image-item" />
          </div>
          <p>{{ trend.name1 }}</p>
          <p>{{ trend.count }} products</p>
        </a>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</div>
