<div class="account display-flex align-items-center">
  <div class="container">
    <div class="row align-items-center">
      <div class="column-large-6">
        <img alt="Appla" src="/assets/images/appla-large.svg" />
      </div>
      <div class="column-large-6">
        <ul class="list account-languages text-center">
          <li class="list-item account-languages__item m-r-12px">
            <img
              alt="UK"
              class="account-languages__flag"
              src="/assets/images/flags/en.png" />
          </li>
          <li class="list-item account-languages__item m-r-12px">
            <img
              alt=""
              class="account-languages__flag"
              src="/assets/images/flags/el.png" />
          </li>
          <li class="list-item account-languages__item m-r-12px">
            <img
              alt=""
              class="account-languages__flag"
              src="/assets/images/flags/ru.png" />
          </li>
        </ul>
        <div class="card-content">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
