// App colors
$black: #000;
$earie-black: #141414;
$rich-black: #101820;
$blue-yonder: #4272b8;
$united-nations-blue: #6792cb;
$honey-yellow: #f9b233;
$maximum-yellow-red: #fcbd5f;
$alice-blue: #f0f4fa;
$old-lace: #fff7eb;
$white: #fff;
$azureish-white: #e2edf6;
$lavender-gray: #bcc6d2;
$american-green: #37b24d;
$dazzled-blue: #345d9b;
$dark-silver: #707070;
$charcoal: #33404a;
$water: #d2ecfc;
$ghost-white: #f8fcfd;

// App variables
$base-font: 'Roboto', 'Helvetica', sans-serif;
$base-size: 4px;
$cols: 12;
$media-breakpoints: (
        '': 0,
        small: 576px,
        medium: 768px,
        large: 992px,
        xlarge: 1200px,
);
