// App colors
$black: #000;
$earie-black: #141414;
$rich-black: #101820;
$blue-yonder: #4272B8;
$united-nations-blue: #6792CB;
$honey-yellow: #F9B233;
$maximum-yellow-red: #FCBD5F;
$alice-blue: #F0F4FA;
$old-lace: #FFF7EB;
$white: #fff;

// App variables

$base-font: Poppins, Helvetica, "sans-serif";
$base-size: 4px;
$cols: 12;

$media-breakpoints: (
        '': 0,
        small: 576px,
        medium: 768px,
        large: 992px,
        xlarge: 1200px
);
