<div class="container p-t-20px">
  <div class="row m-b-20px">
    <div class="column-medium-6">
      <img
        class="img-responsive"
        src="/assets/images/aboutus/online-store-pc.png"
        alt="Appla About us" />
    </div>
    <div class="column-medium-6">
      <h1>Appla - About our company</h1>
      <p>
        Appla, the largest online shopping platform is here to bring the Cypriot
        market into the digital era, and increase the economic activity of both
        the merchants and the consumers.
      </p>

      <p>
        According to the latest data from the statistical office of the European
        Commission, Eurostat, the percentage of companies operating in Cyprus,
        selling their products online, continues to grow compared to previous
        years.
      </p>

      <p>
        Our mission is to provide the most advanced online shopping experience
        in Cyprus, through our next-generation platform, a place where consumers
        can find what they want, at the best price available!
      </p>

      <p>
        An online marketplace, where merchants can reach as many consumers as
        possible, and ultimately expand their brand and increase their revenues.
      </p>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="column-medium-6">
      <p>
        Appla offers all its partners the options for free Customer and
        Technical Support, along with various options for online marketing and
        promotion of their products, through the platform or the company media
        channels (blog, social media etc.)
      </p>
      <p>
        Additionally, Appla will offer to all its partners the necessary
        statistics and market insights, to help them increase their sales and
        profits.
      </p>
      <p>
        "The ultimate goal" as the company has stated, is the creation of a
        multi-vendor online shopping platform, where Appla and its business
        partners can reach as many consumers as possible.
      </p>
      <p>
        Appla Cyprus is a company built on international e-Commerce standards,
        based on international technology and deep knowledge of the local
        market. The largest online shopping platform in Cyprus, backed by a
        great number of online business experts and international management
        from Israel aims to revolutionize the shopping industry.
      </p>
      <p>
        As of today, a growing number of businesses have expressed their
        interest to join Appla, making their first step in Appla’s digital
        revolution!
      </p>
    </div>
    <div class="column-medium-6">
      <img
        class="img-responsive"
        src="/assets/images/aboutus/appla-logo-blue.png"
        alt="" />
    </div>
  </div>
</div>
