<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        src="./assets/images/slides/slide-1.png"
        class="img-responsive"
        alt="Random first slide" />
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        src="./assets/images/slides/slide-2.png"
        class="img-responsive"
        alt="Random first slide" />
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        src="./assets/images/slides/slide-3.png"
        class="img-responsive"
        alt="Random first slide" />
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        src="./assets/images/slides/slide-4.png"
        class="img-responsive"
        alt="Random first slide" />
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        src="./assets/images/slides/slide-5.png"
        class="img-responsive"
        alt="Random first slide" />
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        src="./assets/images/slides/slide-6.png"
        class="img-responsive"
        alt="Random first slide" />
    </div>
  </ng-template>
</ngb-carousel>
