@use "~assets/scss/vars";

.recently-viewed {
  &__icon {
    color: vars.$blue-yonder;
  }

  &__header {
    font-size: 16px;
    color: vars.$rich-black;
    font-weight: 700;
    margin: 0;
  }
}
