<section
  *ngIf="slides$ | async as slides"
  class="m-b-16px display-none display-large-block">
  <appla-slider [slides]="slides"></appla-slider>
</section>

<section *ngIf="storeOffers$ | async as storeOffers" class="m-b-16px">
  <div class="container">
    <div class="row">
      <div class="column-12">
        <appla-store-offers [storeOffers]="storeOffers"></appla-store-offers>
      </div>
    </div>
  </div>
</section>

<section class="m-b-16px">
  <div class="container">
    <div class="row">
      <div class="column-6 p-small-l-4px p-small-r-4px column-medium-9 m-b-8px">
        <appla-tile>
          <a class="tile display-block" routerLink="./supersale">
            <img
              alt="Supersale"
              class="w-100 h-100 display-none display-medium-block"
              src="/assets/images/tiles-images/supersale.webp" />
            <img
              alt="Supersale"
              class="img-responsive supersale-mobile display-medium-none"
              src="/assets/images/supersale-mobile.webp" />
          </a>
        </appla-tile>
      </div>
      <div class="column-6 p-small-l-4px p-small-r-4px column-medium-3 m-b-8px">
        <appla-tile class="display-none display-medium-block" tileColor="blue">
          <a routerLink="./category/list/system-components-2844">
            <img
              alt="System Components"
              class="img-responsive"
              src="/assets/images/tiles-images/systemComp.webp" />
            <p class="tile__title" tile-title>
              {{ 'HOME-TILES.SYSTEM_COMPONENTS' | translate }}
            </p>
          </a>
        </appla-tile>
        <appla-tile class="display-block display-medium-none">
          <a
            class="tile display-block"
            routerLink="./category/list/system-components-2844">
            <img
              alt="System Components"
              class="w-100"
              src="/assets/images/tiles-images/mobile-supersale.jpeg" />
          </a>
        </appla-tile>
      </div>
      <div class="column-6 p-small-l-4px p-small-r-4px column-medium-3 m-b-8px">
        <appla-tile tileColor="orange">
          <a
            class="tile display-block"
            routerLink="./category/list/clothing-6082">
            <img
              alt="Fashion"
              class="img-responsive"
              src="/assets/images/tiles-images/fashion.webp" />
            <p class="tile__title">{{ 'HOME-TILES.FASHION' | translate }}</p>
          </a>
        </appla-tile>
      </div>
      <div class="column-6 p-small-l-4px p-small-r-4px column-medium-3 m-b-8px">
        <appla-tile tileColor="orange">
          <a
            class="tile display-block"
            routerLink="./category/list/smartphones-1893">
            <img
              alt="Smartphones"
              class="img-responsive"
              src="/assets/images/tiles-images/smartphones.webp" />
            <p class="tile__title">
              {{ 'HOME-TILES.SMARTPHONES' | translate }}
            </p>
          </a>
        </appla-tile>
      </div>
      <div class="column-6 p-small-l-4px p-small-r-4px column-medium-3 m-b-8px">
        <appla-tile tileColor="orange">
          <a
            class="tile display-block"
            routerLink="./category/list/computer-monitors-222">
            <img
              alt="Monitors"
              class="img-responsive"
              src="/assets/images/tiles-images/monitors.webp" />
            <p class="tile__title">{{ 'HOME-TILES.MONITORS' | translate }}</p>
          </a>
        </appla-tile>
      </div>
      <div class="column-6 p-small-l-4px p-small-r-4px column-medium-3 m-b-8px">
        <appla-tile tileColor="orange">
          <a
            class="tile display-block"
            routerLink="./category/list/health-beauty-amp-personal-care-1280">
            <img
              alt="Beauty and Healthcare"
              class="img-responsive"
              src="/assets/images/tiles-images/beautyhealth.webp" />
            <p class="tile__title">
              {{ 'HOME-TILES.BEAUTY_AND_HEALTHCARE' | translate }}
            </p>
          </a>
        </appla-tile>
      </div>
      <div class="column-6 p-small-l-4px p-small-r-4px column-medium-3 m-b-8px">
        <appla-tile tileColor="orange">
          <a
            class="tile display-block"
            routerLink="./category/list/pet-care-2248">
            <img
              alt="Pets"
              class="img-responsive"
              src="/assets/images/tiles-images/pets.webp" />
            <p class="tile__title">{{ 'HOME-TILES.PETS' | translate }}</p>
          </a>
        </appla-tile>
      </div>
      <div class="column-6 p-small-l-4px p-small-r-4px column-medium-6 m-b-8px">
        <appla-tile tileColor="blue">
          <a
            class="tile display-block"
            routerLink="./category/list/small-kitchen-appliances-1315">
            <img
              alt="Kitchen Appliances"
              class="img-responsive"
              src="/assets/images/tiles-images/kitchenApp.webp" />
            <p class="tile__title">
              {{ 'HOME-TILES.KITCHEN_APPLIANCES' | translate }}
            </p>
          </a>
        </appla-tile>
      </div>
      <div class="column-6 p-small-l-4px p-small-r-4px column-medium-3 m-b-8px">
        <appla-tile tileColor="blue">
          <a
            class="tile display-block"
            routerLink="./category/list/sports-recreation-1960">
            <img
              alt="Sports ans exercise"
              class="img-responsive"
              src="/assets/images/tiles-images/sports&exercise.webp" />
            <p class="tile__title">
              {{ 'HOME-TILES.SPORTS_AND_EXERCISE' | translate }}
            </p>
          </a>
        </appla-tile>
      </div>
      <div class="column-6 p-small-l-4px p-small-r-4px column-medium-3 m-b-8px">
        <appla-tile tileColor="orange">
          <a
            class="tile display-block"
            routerLink="./category/list/eau-de-toilette-3123">
            <img
              alt="Perfumes"
              class="img-responsive"
              src="/assets/images/tiles-images/perfumes.webp" />
            <p class="tile__title">
              {{ 'HOME-TILES.PERFUMES' | translate }}
            </p>
          </a>
        </appla-tile>
      </div>
      <div class="column-6 p-small-l-4px p-small-r-4px column-medium-3 m-b-8px">
        <appla-tile tileColor="orange">
          <a
            class="tile display-block"
            routerLink="./category/list/makeup-2996">
            <img
              alt="Makeup"
              class="img-responsive"
              src="/assets/images/tiles-images/makeup.webp" />
            <p class="tile__title">{{ 'HOME-TILES.MAKEUP' | translate }}</p>
          </a>
        </appla-tile>
      </div>
      <div class="column-6 p-small-l-4px p-small-r-4px column-medium-3 m-b-8px">
        <appla-tile tileColor="orange">
          <a
            class="tile display-block"
            routerLink="./category/list/jewellery-6136">
            <img
              alt="Jewellery"
              class="img-responsive"
              src="/assets/images/tiles-images/jwellery.webp" />
            <p class="tile__title">{{ 'HOME-TILES.JEWELLERY' | translate }}</p>
          </a>
        </appla-tile>
      </div>
      <div class="column-6 p-small-l-4px p-small-r-4px column-medium-3 m-b-8px">
        <appla-tile tileColor="blue">
          <a class="tile display-block" routerLink="./category/list/toys-2295">
            <img
              alt="Games and Toys"
              class="img-responsive"
              src="/assets/images/tiles-images/toys.webp" />
            <p class="tile__title">{{ 'HOME-TILES.TOYS' | translate }}</p>
          </a>
        </appla-tile>
      </div>
      <div
        class="display-medium-none column-6 p-small-l-4px p-small-r-4px column-medium-3 m-b-8px">
        <appla-tile tileColor="blue">
          <a class="tile display-block" routerLink="./category/list/office-300">
            <img
              alt="Office Desks"
              class="img-responsive"
              src="/assets/images/tiles-images/offices.webp" />
            <p class="tile__title">{{ 'HOME-TILES.OFFICES' | translate }}</p>
          </a>
        </appla-tile>
      </div>
    </div>
  </div>
</section>

<section *ngIf="recentlyViewed$ | async as recentlyViewed" class="m-b-16px">
  <div class="container">
    <div class="row">
      <div class="column-12 p-l-32px">
        <appla-recently-viewed
          [recentlyViewed]="recentlyViewed"></appla-recently-viewed>
      </div>
    </div>
  </div>
</section>

<section class="m-b-16px">
  <div class="container">
    <div class="row">
      <div class="column-6 p-small-l-4px p-small-r-4px column-medium-3 m-b-8px">
        <appla-tile tileColor="blue">
          <a
            class="tile display-block"
            routerLink="./category/list/backpacks-826">
            <img
              alt="Backpacks"
              class="img-responsive"
              src="/assets/images/tiles-images/backpacks.webp" />
            <p class="tile__title">{{ 'HOME-TILES.BACKPACKS' | translate }}</p>
          </a>
        </appla-tile>
      </div>
      <div
        class="column-6 display-none display-medium-block p-small-l-4px p-small-r-4px column-medium-9 m-b-8px">
        <appla-tile tileColor="blue">
          <a class="tile display-block" routerLink="./category/list/office-300">
            <img
              alt="Office Desks"
              class="img-responsive"
              src="/assets/images/tiles-images/offices.webp" />
            <p class="tile__title">{{ 'HOME-TILES.OFFICES' | translate }}</p>
          </a>
        </appla-tile>
      </div>
      <div class="column-6 p-small-l-4px p-small-r-4px column-medium-3 m-b-8px">
        <appla-tile tileColor="orange">
          <a
            class="tile display-block"
            routerLink="./category/list/printers-scanners-225">
            <img
              alt="Printers and Scanners"
              class="img-responsive"
              src="/assets/images/tiles-images/printers.webp" />
            <p class="tile__title">{{ 'HOME-TILES.PRINTERS' | translate }}</p>
          </a>
        </appla-tile>
      </div>
      <div class="column-6 p-small-l-4px p-small-r-4px column-medium-6 m-b-8px">
        <appla-tile tileColor="blue">
          <a
            class="tile display-block"
            routerLink="./category/list/all-in-one-pcs-workstations-2282">
            <img
              alt="All-in-One PCs & Workstations"
              class="img-responsive"
              src="/assets/images/tiles-images/allInOne.webp" />
            <p class="tile__title">{{ 'HOME-TILES.ALL_IN_ONE' | translate }}</p>
          </a>
        </appla-tile>
      </div>
      <div class="column-6 p-small-l-4px p-small-r-4px column-medium-3 m-b-8px">
        <appla-tile tileColor="blue">
          <a
            class="tile display-block"
            routerLink="./category/list/hair-care-tools-accessories-8934">
            <img
              alt="Hair Styling Tools"
              class="img-responsive"
              src="/assets/images/tiles-images/hairStyling.webp" />
            <p class="tile__title">
              {{ 'HOME-TILES.HAIR_STYLING' | translate }}
            </p>
          </a>
        </appla-tile>
      </div>
    </div>
  </div>
</section>

<section *ngIf="trending$ | async as trending" class="m-b-16px">
  <div class="container">
    <div class="row">
      <div class="column-12 p-l-32px">
        <appla-now-trending [trending]="trending"></appla-now-trending>
      </div>
    </div>
  </div>
</section>

<section class="m-b-16px">
  <div class="container">
    <div class="row">
      <div class="column-12">
        <appla-advertise-banner></appla-advertise-banner>
      </div>
    </div>
  </div>
</section>

<section
  *ngIf="sampleSmartphones$ | async as sampleSmartphones"
  class="m-b-16px">
  <div class="container">
    <div *ngIf="sampleSmartphones.length" class="row">
      <div class="column-12">
        <appla-product-category-tile
          [entities]="sampleSmartphones"
          link="./category/list/smartphones-1893"
          title="{{
            'HOME-PRODUCT-CATEGORIES.SMARTPHONES' | translate
          }}"></appla-product-category-tile>
      </div>
    </div>
  </div>
</section>

<section
  *ngIf="samplePersonalCareProducts$ | async as samplePersonalCareProducts"
  class="m-b-16px">
  <div class="container">
    <div *ngIf="samplePersonalCareProducts.length" class="row">
      <div class="column-12">
        <appla-product-category-tile
          [entities]="samplePersonalCareProducts"
          categoryId="7604"
          link="./category/list/personal-care-products-7604"
          title="{{
            'HOME-PRODUCT-CATEGORIES.PERSONAL_CARE' | translate
          }}"></appla-product-category-tile>
      </div>
    </div>
  </div>
</section>

<section
  *ngIf="
    samplePersonalCleaningProducts$ | async as samplePersonalCleaningProducts
  "
  class="m-b-16px">
  <div class="container">
    <div *ngIf="samplePersonalCleaningProducts.length" class="row">
      <div class="column-12">
        <appla-product-category-tile
          [entities]="samplePersonalCleaningProducts"
          categoryId="4838"
          link="./category/list/cleaning-agents-tools-supplies-4838"
          title="{{
            'HOME-PRODUCT-CATEGORIES.CLEANING_AGENTS' | translate
          }}"></appla-product-category-tile>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="column-12">
        <appla-advertise-banner></appla-advertise-banner>
      </div>
    </div>
  </div>
</section>
