@use "~assets/scss/vars" as vars;

.button-more {
  color: vars.$white;
  border: 1px solid;
  border-color: vars.$honey-yellow;
  background: vars.$honey-yellow;
  border-radius: 20px;
  padding: 16px 12px;

  &:hover {
    background: transparent;
    border-color: vars.$rich-black;
    color: vars.$rich-black;
  }
}
