@use "~assets/scss/vars" as vars;
@use "~assets/scss/mixins" as mixins;

.button-more {
  @include mixins.border-radius(vars.$base-size * 5);
  color: vars.$white;
  border: 1px solid vars.$honey-yellow;
  background: vars.$honey-yellow;
  padding: 16px 12px;

  &:hover {
    background: transparent;
    border-color: vars.$rich-black;
    color: vars.$rich-black;
  }
}
