@use "~assets/scss/vars";
@use "~assets/scss/mixins";

.languages-menu {

  &__toggle {
    &:after {
      content: unset;
    }

    &:hover, &:focus {
      border-color: transparent;
    }
  }

  &__icon {
    @include mixins.border-radius(50%);
    width: vars.$base-size * 8;
    height: vars.$base-size * 8;
  }

  .icon-dropdown {
    @include mixins.border-radius(vars.$base-size);
    width: vars.$base-size * 5;
    height: vars.$base-size * 5;
  }

  &.dropdown {
    .dropdown-menu {
      @include mixins.border-radius(vars.$base-size * 5);

      & .dropdown-item {
        padding: vars.$base-size * 3 vars.$base-size * 4;
      }
    }
  }
}
