<div id="AADIV"></div>
<script>
  /* firstangular */
  var k = decodeURIComponent(document.cookie),
    ca = k.split(';'),
    psc = '';
  for (var i = 0; i < ca.length; i++) {
    var c = ca[i];
    while (c.charAt(0) == ' ') c = c.substring(1);
    if (c.indexOf('adcapban') == 0)
      psc +=
        (psc == '' ? '' : ',') + c.replace('adcapban', '').replace('=', ',');
  }
  var s = document.createElement('script');
  s.src =
    'https://advertisement.appla.cy/ser.php?t=AADIV' +
    String.fromCharCode(38) +
    'f=' +
    String.fromCharCode(38) +
    'psc=' +
    psc;
  document.head.appendChild(s);
</script>
