@use "~assets/scss/vars";

.header {
  &__controls {
    background: vars.$steel-blue;

    &-link {
      color: vars.$white;

      &:hover {
        color: vars.$yellow-orange;
      }
    }

    &-logo {
      &:hover {
        opacity: .8;
      }
    }
  }

  .login-actions {


    &__login {
      color: vars.$white;
      border-color: vars.$yellow-orange;
      border-radius: vars.$base-size * 5;
      padding: vars.$base-size * 2 vars.$base-size * 5;
      font-size: 11px;

      &:hover {
        background: vars.$yellow-orange;
      }
    }

    &__sign {
      color: vars.$white;
      background: vars.$yellow-orange;
      border-radius: vars.$base-size * 5;
      border-color: vars.$yellow-orange;
      padding: vars.$base-size * 2 vars.$base-size * 5;
      font-size: 11px;

      &:hover {
        background: transparent;
      }
    }
  }
}
