@use '~assets/scss/vars';
@use '~assets/scss/mixins';

.header {
  @include mixins.top-fixed-element;

  &__elements {
    background: vars.$blue-yonder;

    &-link {
      color: vars.$white;

      &:hover {
        color: vars.$honey-yellow;
      }
    }

    &-logo {
      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__navigation {
    background: vars.$united-nations-blue;
  }

  &__user-actions {
    &-sign {
      &:hover {
        color: vars.$white;
      }
    }
  }
}
