@use '~assets/scss/vars' as vars;
@use '~assets/scss/mixins' as mixins;

.aside-widget {
  background-color: vars.$white;

  &__head {
    border-bottom: 1px solid vars.$alice-blue;
  }

  &__toggle {
    font-weight: 700;
    text-transform: uppercase;
    background: transparent;
    border: none;
  }

  &__icon {
    @include mixins.border-radius(50%);

    background-color: vars.$honey-yellow;
    color: vars.$white;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
  }
}
