<div class="display-flex flex-direction-column p-16px">
  <button
    (click)="openLoginModal()"
    class="button button_transparent_outline_orange m-b-16px">
    Login
  </button>
  <a
    class="button button_orange text-center m-b-16px"
    href="https://appla.cy/account/register"
    >Sign Up</a
  >

  <ul class="sidenav-menu list-no-bullets">
    <li>
      <a applaCloseCanvas routerLink="">Cart</a>
    </li>
    <li>
      <a routerLink="/category">Categories</a>
    </li>
    <li>
      <a routerLink="/cart">Languages</a>
    </li>
    <li>
      <a applaCloseCanvas routerLink="aboutus">About Us</a>
    </li>
    <li>
      <a href="https://blog.appla.cy/careers/en/">Careers</a>
    </li>
    <li>
      <a applaCloseCanvas href="https://help.appla.cy/">Help &amp; Contact</a>
    </li>
    <li>
      <a applaCloseCanvas routerLink="/privacy">Privacy Policy</a>
    </li>
    <li>
      <a applaCloseCanvas routerLink="/terms">Terms</a>
    </li>
    <li>
      <a href="https://blog.appla.cy/faq-en/">FAQ</a>
    </li>
  </ul>

  <div>
    <h5>Contact Information:</h5>
    <p>
      <fa-icon [icon]="faPhone" class="m-r-12px"></fa-icon>
      <a href="tel:+35724506800">+357 24506800</a>
    </p>
    <p>
      <fa-icon [icon]="faEnvelope" class="m-r-12px"></fa-icon>
      <a href="mailto:contact@appla.cy">Email contact@appla.cy</a>
    </p>
  </div>
</div>
