@use '~assets/scss/vars';
@use '~assets/scss/mixins';

:host {
  display: block;
  overflow-y: scroll;
}

.sidenav-header {
  &__close {
    position: absolute;
    font-size: 2rem;
    color: vars.$white;
    z-index: 3;
  }
}

.sidenav-menu {
  &__link {
    color: vars.$charcoal;
    cursor: pointer;
  }

  &__item {
    border-top: 5px vars.$gainsboro solid;

    &.no-border {
      border: none;
    }
  }
}

.sidenav-contact {
  &__link {
    color: inherit;
    cursor: pointer;
  }
}

.sidenav-languages {
  &__flag {
    @include mixins.border-radius(50%);

    width: vars.$base-size * 5;
    height: vars.$base-size * 5;
  }
}
