<div class="display-flex flex-direction-column p-b-16px">
  <div class="sidenav-header position-relative m-b-16px">
    <button
      (click)="closeSideNav()"
      class="button sidenav-header__close"
      type="button">
      &times;
    </button>
    <img
      alt="Appla"
      class="img-responsive"
      src="./assets/images/mob-header.png" />
  </div>
  <div class="row p-l-16px p-r-16px m-b-16px">
    <div class="column-6">
      <button
        (click)="openLoginModal()"
        class="button button_transparent_outline_orange w-100">
        Login
      </button>
    </div>
    <div class="column-6">
      <a
        class="button button_orange text-center display-inline-block w-100"
        href="https://appla.cy/account/register"
        >Sign Up</a
      >
    </div>
  </div>

  <ul class="sidenav-menu list-no-bullets p-l-0px">
    <li class="sidenav-menu__item p-l-16px p-r-16px p-t-8px p-b-8px">
      <fa-icon [icon]="faHouse" class="m-r-12px"></fa-icon>
      <a applaCloseCanvas class="sidenav-menu__link" routerLink="./">Home</a>
    </li>
    <li class="sidenav-menu__item p-l-16px p-r-16px p-t-8px p-b-8px">
      <fa-icon [icon]="faCart" class="m-r-12px"></fa-icon>
      <a applaCloseCanvas class="sidenav-menu__link" routerLink="">Cart</a>
    </li>
    <li class="sidenav-menu__item p-l-16px p-r-16px p-t-8px p-b-8px">
      <fa-icon [icon]="faBookOpen" class="m-r-12px"></fa-icon>
      <a
        (click)="categoriesCollapse.toggle()"
        [attr.aria-expanded]="!isCategoriesCollapsed"
        class="sidenav-menu__link"
        >Categories</a
      >
      <div
        #categoriesCollapse="ngbCollapse"
        [(ngbCollapse)]="isCategoriesCollapsed">
        <div class="card">
          <div class="card-body">
            <ul class="list-no-bullets">
              <li *ngFor="let category of menu$ | async" class="m-b-8px">
                <a class="sidenav-menu__link">{{ category.name1 }}</a>
                <ul class="list-no-bullets">
                  <li *ngFor="let child of category.childs1">
                    <a
                      [routerLink]="['./category/list', child.link]"
                      applaCloseCanvas
                      class="sidenav-menu__link"
                      >{{ child.name }}</a
                    >
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li class="sidenav-menu__item p-l-16px p-r-16px p-t-8px p-b-8px">
      <fa-icon [icon]="faEarthAmericas" class="m-r-12px"></fa-icon>
      <a
        (click)="langCollapse.toggle()"
        [attr.aria-expanded]="!isLangCollapse"
        class="sidenav-menu__link"
        >Languages</a
      >
      <div #langCollapse="ngbCollapse" [(ngbCollapse)]="isLangCollapse">
        <div class="card">
          <div class="card-body">
            <ul class="sidenav-languages list-no-bullets">
              <li class="m-b-8px">
                <img
                  alt="Uk"
                  class="sidenav-languages__flag m-r-8px"
                  src="/assets/images/flags/uk.png" />English
              </li>
              <li class="m-b-8px">
                <img
                  alt="Uk"
                  class="sidenav-languages__flag m-r-8px"
                  src="/assets/images/flags/gr.png" />Greece
              </li>
              <li>
                <img
                  alt="Uk"
                  class="sidenav-languages__flag m-r-8px"
                  src="/assets/images/flags/rs.png" />Russia
              </li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li class="sidenav-menu__item p-l-16px p-r-16px p-t-8px p-b-8px">
      <fa-icon [icon]="faCircleInfo" class="m-r-12px"></fa-icon>
      <a applaCloseCanvas class="sidenav-menu__link" routerLink="./aboutus"
        >About Us</a
      >
    </li>
    <li class="sidenav-menu__item no-border p-l-16px p-r-16px p-t-8px p-b-8px">
      <a class="sidenav-menu__link" href="https://blog.appla.cy/careers/en/"
        >Careers</a
      >
    </li>
    <li class="sidenav-menu__item no-border p-l-16px p-r-16px p-t-8px p-b-8px">
      <a
        applaCloseCanvas
        class="sidenav-menu__link"
        href="https://help.appla.cy/"
        >Help &amp; Contact</a
      >
    </li>
    <li class="sidenav-menu__item no-border p-l-16px p-r-16px p-t-8px p-b-8px">
      <a applaCloseCanvas class="sidenav-menu__link" routerLink="./privacy"
        >Privacy Policy</a
      >
    </li>
    <li class="sidenav-menu__item no-border p-l-16px p-r-16px p-t-8px p-b-8px">
      <a applaCloseCanvas class="sidenav-menu__link" routerLink="./terms"
        >Terms</a
      >
    </li>
    <li class="sidenav-menu__item no-border p-l-16px p-r-16px p-t-8px p-b-8px">
      <a class="sidenav-menu__link" href="https://blog.appla.cy/faq-en/">FAQ</a>
    </li>
  </ul>

  <div class="sidenav-contact p-l-16px p-r-16px">
    <h5>Contact Information:</h5>
    <p>
      <fa-icon [icon]="faPhone" class="m-r-12px"></fa-icon>
      <a class="sidenav-contact__link" href="tel:+35724506800">+357 24506800</a>
    </p>
    <p>
      <fa-icon [icon]="faEnvelope" class="m-r-12px"></fa-icon>
      <a class="sidenav-contact__link" href="mailto:contact@appla.cy"
        >Email contact@appla.cy</a
      >
    </p>
  </div>
</div>
