<appla-header></appla-header>
<div class="container m-t-96px p-t-20px">
  <section class="compare-prices m-b-20px">
    <div class="row">
      <div class="col-lg-9 col-md-9 col-12">
        <div class="card-content">
          <div class="compare-prices-product">
            <div class="row">
              <div class="col-lg- 3 col-md-6 col-12">
                <img
                  alt=""
                  class="img-fluid"
                  src="./assets/images/compare-prices/pixel.jpeg" />
              </div>
              <div class="col-lg-5 col-md-6 col-12">
                <p class="fw-semibold">Samsung Galaxy A52s 5G 16.5 cm (6.5)</p>
                <p>Product specification</p>
                <p>Weight: 189 Grams (g)</p>
                <p>View 2 offer s, from 309.00 €</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-12">
        <div class="card-content">
          <div class="compare-prices-rating">
            <div class="m-b-4px">
              <ngb-rating [max]="5" [rate]="0" [readonly]="true"></ngb-rating>
              | 0 reviews
            </div>
            <h6>0 of 5</h6>
            <div class="display-flex m-b-4px">
              <span class="m-r-8px">5 stars</span>
              <ngb-progressbar [value]="0" class="flex-grow-1" type="success"
                >default
              </ngb-progressbar>
            </div>
            <div class="display-flex m-b-4px">
              <span class="m-r-8px">4 stars</span>
              <ngb-progressbar [value]="0" class="flex-grow-1" type="success"
                >default
              </ngb-progressbar>
            </div>
            <div class="display-flex m-b-4px">
              <span class="m-r-8px">3 stars</span>
              <ngb-progressbar [value]="0" class="flex-grow-1" type="success"
                >default
              </ngb-progressbar>
            </div>
            <div class="display-flex m-b-4px">
              <span class="m-r-8px">2 stars</span>
              <ngb-progressbar [value]="0" class="flex-grow-1" type="success"
                >default
              </ngb-progressbar>
            </div>
            <div class="display-flex">
              <span class="m-r-8px">1 stars</span>
              <ngb-progressbar [value]="0" class="flex-grow-1" type="success"
                >default
              </ngb-progressbar>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <h4 class="text-orange">Offers (2)</h4>

  <section class="m-t-20px m-b-20px">
    <div class="product-offers">
      <div class="row">
        <div class="col-12">
          <div class="card-content">
            <div class="product-offers__header m-b-16px">
              <h5>Compare prices: Samsung Galaxy A52s 5G 16.5 cm (6.5)</h5>
              <p>Recommended Offers</p>
            </div>

            <div class="product-offers__item p-b-16px">
              <div class="row align-items-center">
                <div class="col-2">
                  <img
                    alt=""
                    class="product-offers__image"
                    src="./assets/images/compare-prices/product-offer.png" />
                </div>
                <div class="col-10">
                  <div class="row justify-content-end align-items-center">
                    <div class="col-4">
                      <p class="fw-bolder">
                        <a href="">Tech 2 Tech</a>
                      </p>
                      <p>Samsung Galaxy A52s 5G 16.5 cm (6.5)</p>
                    </div>
                    <div class="col-4">
                      <p class="badge bg-success">In Stock</p>
                      <p>
                        <fa-icon [icon]="faTruck"></fa-icon>
                        Shipping not included
                      </p>
                      <p>
                        <ngb-rating
                          [max]="5"
                          [rate]="0"
                          [readonly]="true"></ngb-rating>
                        | 0 reviews
                      </p>
                    </div>
                    <div class="col-4 text-end">
                      <p class="text-orange">309.00 €</p>
                      <a class="product-offers__link" href="#">View offer</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="product-offers__item">
              <div class="row align-items-center">
                <div class="col-2">
                  <img
                    alt=""
                    class="product-offers__image"
                    src="./assets/images/compare-prices/product-offer.png" />
                </div>
                <div class="col-10">
                  <div class="row justify-content-end align-items-center">
                    <div class="col-4">
                      <p class="fw-bolder">
                        <a href="">Tech 2 Tech</a>
                      </p>
                      <p>Samsung Galaxy A52s 5G 16.5 cm (6.5)</p>
                    </div>
                    <div class="col-4">
                      <p class="badge bg-success">In Stock</p>
                      <p>
                        <fa-icon [icon]="faTruck"></fa-icon>
                        Shipping not included
                      </p>
                      <p>
                        <ngb-rating
                          [max]="5"
                          [rate]="0"
                          [readonly]="true"></ngb-rating>
                        | 0 reviews
                      </p>
                    </div>
                    <div class="col-4 text-end">
                      <p class="text-orange">309.00 €</p>
                      <a class="product-offers__link" href="#">View offer</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="m-b-20px">
    <div class="card-content">
      <h5>Product Specifications</h5>
      <p>Coming soon</p>
    </div>
  </section>

  <section class="m-b-20px">
    <div class="card-content">
      <!--      <appla-carousel carouselType="recently-viewed"></appla-carousel>-->
    </div>
  </section>
</div>
<appla-footer></appla-footer>
