@use "~assets/scss/vars";

:host {
  display: flex;

  .cart {
    &__icon {
      width: vars.$base-size * 8;
      height: vars.$base-size * 8;
      background: vars.$yellow-orange;
      color: vars.$white;
      border-radius: 50%;

      &:after {
        content: unset;
      }

      &:hover, &:focus {
        border-color: transparent;
      }
    }
  }
}
