@use '../../../assets/scss/vars' as vars;

:host {
  display: block;
  height: 100%;
}

.tile {
  height: 100%;
  color: vars.$white;
  text-align: center;

  &.blue {
    background: vars.$blue-yonder;
  }

  &.orange {
    background: vars.$honey-yellow;
  }
}
