<div class="preview-card display-flex">
  <a
    [queryParams]="
      product.count_products > 1 ? { mpi: product.master_product_id } : []
    "
    [routerLink]="
      product.count_products > 1
        ? [
            '/',
            appLanguage,
            'category',
            'product_list',
            product.to_link[0].category_slug
          ]
        : [
            '/',
            appLanguage,
            'product',
            product.to_link[0].store_slug,
            product.to_link[0].product_slug
          ]
    "
    class="preview-card__link">
    <img
      [src]="
        'https://storage.googleapis.com/images-appla/production/thumbs_150/' +
        product.picture
      "
      alt=""
      applaErrorImage
      class="preview-card__image" />
    <div>
      <p class="preview-card__name m-b-4px">
        {{ product.name }}
      </p>
      <p class="preview-card__price m-b-4px">
        <ng-container
          *ngIf="
            product.min_price && product.count_products === 1;
            else masterProductPrice
          ">
          {{ product.min_price | currency }}
        </ng-container>

        <ng-template #masterProductPrice>
          {{ product.min_price | currency }} -
          {{ product.max_price | currency }}
        </ng-template>
      </p>
      <p class="m-b-0px">Available in {{ product.count_products }} (items)</p>
    </div>
  </a>
</div>
