@use '../../../../assets/scss/vars' as vars;
@use '../../../../assets/scss/mixins' as mixins;

.preview-card {
  @include mixins.border-radius(vars.$base-size * 5);

  padding: 10px;
  border: solid 0 vars.$alice-blue;
  box-shadow: 0 0 4px 2px rgb(49 53 59 / 12%);
  background-color: white;

  &__image {
    @include mixins.border-radius(vars.$base-size * 5);

    border: solid 1px vars.$alice-blue;
    padding: 0;
    margin-bottom: 5px;
    width: 150px;
    height: 150px;
  }

  &__price {
    color: vars.$honey-yellow;
  }
}
