/* stylelint-disable property-no-vendor-prefix */
@use '../vars' as vars;
@use '../mixins' as mixins;

.control-group {
  margin-bottom: 1rem;

  &__label {
    margin-bottom: vars.$base-size * 2;
  }

  &__field {
    @include mixins.appla-input;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

input:not([type='radio']):not([type='checkbox']),
select {
  @include mixins.appla-input;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
