@use '~assets/scss/vars' as vars;
@use '~assets/scss/mixins' as mixins;

.control-group {
  margin-bottom: 1rem;

  &__label {
    margin-bottom: vars.$base-size * 2;
  }

  &__field {
    @include mixins.appla-input();
  }

  &:last-child {
    margin-bottom: 0;
  }
}

input, select {
  @include mixins.appla-input();
}
