<div class="modal-header">
  <h4 class="modal-title">Login</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <form>
    <div class="control-group">
      <input
        type="email"
        placeholder="Email"
        name="email"
        [(ngModel)]="email" />
    </div>
    <div class="control-group">
      <input
        type="password"
        placeholder="Password"
        name="password"
        [(ngModel)]="password" />
    </div>
    <p *ngIf="showError">Invalid login or password</p>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="auth()">
    Login
  </button>
</div>
