@use '../../../../assets/scss/vars' as vars;
@use '../../../../assets/scss/mixins' as mixins;

.form-price {
  &__icon {
    @include mixins.border-radius(50%);
    @include mixins.centered-content;

    background: vars.$honey-yellow;
    color: vars.$white;
    width: 32px;
    height: 32px;
    line-height: 32px;
  }
}

.category-products {
  &__title {
    font-size: 13px;
    font-weight: 600;
  }

  &__summary {
    font-size: 13px;
  }
}

.subcategories-list {
  &__link {
    color: vars.$dark-silver;
    font-weight: 600;

    &:hover {
      background-color: whitesmoke;
      @include mixins.border-radius(20px);
    }
  }
}
