<div class="container p-t-28px">
  <section
    *ngIf="product$ | async as product"
    class="product card-content m-b-20px">
    <div class="row m-b-16px">
      <div class="column-12">
        <div class="row">
          <div class="col-md-5 col-sm-12 text-center">
            <img
              [alt]="product.product.name1"
              [src]="
                'https://storage.googleapis.com/images-appla/production/thumbs_800/' +
                product.product.picture[0]
              "
              class="product__image img-fluid" />
            <div class="product__additional-images m-t-20px">
              <appla-additional-product-images
                [images]="
                  product.product.picture
                "></appla-additional-product-images>
            </div>
          </div>
          <div class="col-md-7 col-sm-12">
            <h1 class="product__title">{{ product.product.name1 }}</h1>
            <p class="product__price">{{ product.product.price }} €</p>
            <p class="product-categories p-b-4px">
              Categories:
              <ng-container
                *ngFor="let category of product.arr_cats; let last = last">
                <a
                  *ngIf="last"
                  [routerLink]="['/category/list', category.slug]"
                  class="product__category"
                  >{{ category.name1 }}</a
                >
              </ng-container>
            </p>

            <div class="display-flex justify-content-between">
              <p class="product__condition">
                Condition: <b>{{ product.product.condition ? 'New' : '' }}</b>
              </p>
              <p class="product__status">In Stock</p>
            </div>

            <div class="card-content product-order">
              <h2 class="product-order__header">Order item</h2>
              <p class="product-order__quantity">Quantity</p>
              <div class="display-flex m-b-12px">
                <form class="product-order-form m-r-8px display-flex">
                  <button
                    (click)="decreaseQuantity()"
                    class="product-order-form__decrease button button_orange">
                    <fa-icon [icon]="faMinus"></fa-icon>
                  </button>
                  <div class="control-group flex-grow-1 m-b-0px">
                    <input
                      [(ngModel)]="productQuantity"
                      aria-label="Example text with button addon"
                      class="product-order-form__input control-group__field"
                      name="productQuantity"
                      type="number" />
                  </div>
                  <button
                    (click)="increaseQuantity()"
                    class="product-order-form__increase button button_orange">
                    <fa-icon [icon]="faPlus"></fa-icon>
                  </button>
                </form>
                <button
                  (click)="setMax(product.product.qty)"
                  class="button button_orange">
                  Max
                </button>
              </div>
              <button class="w-50 button button_orange p-12px">
                Add to Cart
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <ul #nav="ngbNav" class="nav-tabs" ngbNav>
          <li ngbNavItem>
            <a ngbNavLink>Description</a>
            <ng-template ngbNavContent>
              <div class="p-16px">
                <p>Weight : {{ product.product.weight }} (g)</p>
                <p>
                  {{ product.product.long_description1 }}
                </p>
              </div>
            </ng-template>
          </li>
          <li ngbNavItem>
            <a ngbNavLink>Specifications</a>
            <ng-template ngbNavContent>
              <div class="p-16px">
                <ngb-accordion #acc="ngbAccordion">
                  <ngb-panel
                    *ngFor="let spec of product.technical_detail | keyvalue"
                    [title]="spec.key">
                    <ng-template ngbPanelContent>
                      <ng-container *ngFor="let k of spec.value | keyvalue">
                        <p>
                          <strong>{{ k.key }}:</strong> {{ k.value }}
                        </p>
                      </ng-container>
                    </ng-template>
                  </ngb-panel>
                </ngb-accordion>
              </div>
            </ng-template>
          </li>
          <li ngbNavItem>
            <a ngbNavLink>Similar Products</a>
            <ng-template ngbNavContent>
              <div class="p-16px">
                <appla-similar-products
                  [similarProducts]="
                    product.similar_short
                  "></appla-similar-products>
              </div>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav"></div>
      </div>
    </div>
    <div class="row align-items-center product-seller p-t-16px">
      <div class="col-md-6">
        <div class="display-flex align-items-center p-t-16px p-l-16px p-r-16px">
          <img
            *ngIf="product.store.avatar"
            [alt]="product.store.name"
            [src]="
              'https://storage.googleapis.com/images-appla/profile_picture/' +
              product.store.avatar
            "
            class="product-seller__logo m-r-16px" />
          <div class="display-flex flex-column">
            <span
              ><a class="product-seller__link" href="#">{{
                product.store.name
              }}</a></span
            >
            <span><fa-icon [icon]="faStar"></fa-icon>(0 reviews)</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 text-end">
        <button class="product-follow">Follow</button>
      </div>
    </div>
  </section>

  <section>
    <div class="row">
      <div class="column-12">
        <appla-advertise-banner></appla-advertise-banner>
      </div>
    </div>
  </section>
</div>
