@use 'vars';
@use 'mixins';

.product {
  &-categories {
    border-bottom: 1px solid vars.$alice-blue;
  }

  &-order {
    &__header {
      font-size: 14px;
      font-weight: 600;
    }

    &-form {
      max-width: 120px;

      &__decrease,
      &__increase {
        padding: 8px;
      }

      &__decrease {
        @include mixins.border-radius(
            vars.$base-size * 5 0 0 vars.$base-size * 5
        );
      }

      &__increase {
        @include mixins.border-radius(
            0 vars.$base-size * 5 vars.$base-size * 5 0
        );
      }

      &__input[name='productQuantity'] {
        @include mixins.border-radius(0);

        outline: none;
        text-align: center;
        border-top: vars.$alice-blue 1px solid;
        border-bottom: vars.$alice-blue 1px solid;
      }
    }

    &__max {
      @include mixins.border-radius(vars.$base-size * 5);

      color: vars.$white;
      background-color: vars.$honey-yellow;
      border: 1px solid vars.$honey-yellow;
    }
  }

  &-seller {
    border-top: 1px solid vars.$alice-blue;

    &__logo {
      @include mixins.border-radius(50%);

      width: 56px;
      height: 56px;
      border: 1px solid vars.$alice-blue;
    }

    &__link {
      color: inherit;
      font-weight: bold;
      text-decoration: none;
    }

    &__avatar {
      @include mixins.border-radius(50%);
      width: vars.$base-size * 10;
      height: vars.$base-size * 10;
      border: 1px solid #ddd;
    }
  }

  &-follow {
    @include mixins.border-radius(vars.$base-size * 5);

    border: 1px solid vars.$honey-yellow;
    background: vars.$honey-yellow;
    color: vars.$white;
    font-weight: 600;
    padding: 0.6rem 1rem;
  }

  &__image {
    @include mixins.border-radius(vars.$base-size * 5);

    border: 1px solid vars.$alice-blue;
    max-height: 350px;
  }

  &__additional-images {
    width: 100%;
    overflow: hidden;
  }

  &__title {
    text-transform: capitalize;
    font-size: 24px;
    color: vars.$rich-black;
    font-weight: 600;
  }

  &__price {
    font-size: 18px;
    color: vars.$honey-yellow;
    font-weight: 600;
  }

  &__category {
    color: vars.$honey-yellow;
    font-weight: 600;
  }

  &__status {
    color: vars.$american-green;
    font-weight: 600;

    &.of-stock {
      color: red;
    }
  }
}
