@use 'vars';
@use 'mixins';

.similar-products {
  overflow-x: hidden;

  &__link {
    color: inherit;
    max-width: 80%;
  }

  &__image {
    width: 100px;
    height: 100px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    color: vars.$rich-black;
    font-weight: 700;
    font-size: 14px;
    white-space: initial;
    text-transform: capitalize;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__price-title {
    font-size: 16px;
    font-weight: 600;
  }

  &__price-item {
    color: vars.$honey-yellow;
  }
}
