<form (ngSubmit)="search()" class="search-form display-flex">
  <div class="control-group flex-grow-1 m-b-0px">
    <ng-template #rt let-r="result" let-t="term">
      <p
        (click)="goToEntity(r)"
        [ngClass]="{ 'suggestion-category': getClassName(r) }"
        class="suggestion">
        <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
      </p>
    </ng-template>

    <input
      [(ngModel)]="searchQuery"
      [focusFirst]="false"
      [inputFormatter]="formatter"
      [ngbTypeahead]="searchTypeAhead"
      [resultFormatter]="formatter"
      [resultTemplate]="rt"
      class="search-form__input control-group__field"
      name="searchQuery"
      placeholder="I am looking for..."
      type="text" />
  </div>
  <button
    [disabled]="!searchQuery"
    class="search-form__button button p-4px"
    type="submit">
    <fa-icon [icon]="faSearch"></fa-icon>
  </button>
</form>
