@use "~assets/scss/vars";
@use "~assets/scss/mixins";

.product {

  &-categories {
    border-bottom: 1px solid vars.$alice-blue;
  }

  &-order {
    &__header {
      font-size: 14px;
      font-weight: 600;
    }

    &__quantity-form {
      width: auto;
    }

    &__max {
      @include mixins.border-radius(vars.$base-size * 5);
      color: vars.$white;
      background-color: vars.$honey-yellow;
      border: 1px solid vars.$honey-yellow;
    }

    &__cart-button {
      @include mixins.border-radius(vars.$base-size * 5);
      color: vars.$white;
      background-color: vars.$honey-yellow;
      border: 1px solid vars.$honey-yellow;
    }
  }

  &-seller {
    border-top: 1px solid vars.$alice-blue;

    &__logo {
      @include mixins.border-radius(50%);
      width: 56px;
      height: 56px;
      border: 1px solid vars.$alice-blue;
    }
  }

  &-follow {
    @include mixins.border-radius(vars.$base-size * 5);
    border: 1px solid vars.$honey-yellow;
    background: vars.$honey-yellow;
    color: vars.$white;
    font-weight: 600;
    padding: .6rem 1rem;
  }

  &__image {
    @include mixins.border-radius(vars.$base-size * 5);
    border: 1px solid vars.$alice-blue;
  }

  &__title {
    text-transform: capitalize;
    font-size: 24px;
    color: vars.$rich-black;
    font-weight: 600;
  }

  &__price {
    font-size: 18px;
    color: vars.$honey-yellow;
    font-weight: 600;
  }

  &__category {
    color: vars.$honey-yellow;
    font-weight: 600;
  }

  &__condition {
    color: vars.$blue-yonder;
  }

  &__status {
    color: vars.$maximum-yellow-red;
  }
}
