<h3 class="m-b-24px">{{ 'LOGIN-PAGE.LABEL' | translate }}</h3>

<form (ngSubmit)="login()" class="login-form m-b-20px">
  <div class="control-group">
    <label class="control-group__label" for="email">{{
      'LOGIN-PAGE.EMAIL' | translate
    }}</label>
    <input
      [(ngModel)]="email"
      class="login-form__input control-group__field"
      id="email"
      name="email"
      placeholder="Email"
      type="email" />
  </div>
  <div class="control-group">
    <label class="control-group__label" for="password">{{
      'LOGIN-PAGE.PASSWORD' | translate
    }}</label>
    <input
      [(ngModel)]="password"
      class="login-form__input control-group__field"
      id="password"
      name="password"
      placeholder="Password"
      type="password" />
  </div>
  <button class="login-form__submit button button_orange w-100 m-b-12px">
    {{ 'LOGIN-PAGE.LABEL' | translate }}
  </button>
  <div class="display-flex">
    <div class="flex-grow-1 m-r-12px">
      <button
        (click)="signWithFacebook()"
        class="login-form__facebook button w-100 m-b-12px"
        type="button">
        <fa-icon [icon]="faFacebook"></fa-icon>
        Facebook
      </button>
    </div>
    <div class="flex-grow-1">
      <button
        (click)="signWithGoogle()"
        class="login-form__google button w-100"
        type="button">
        <fa-icon [icon]="faGoogle"></fa-icon>
        Google
      </button>
    </div>
  </div>
</form>

<p class="text-center">
  {{ 'LOGIN-PAGE.NOT_HAVE_ACCOUNT' | translate }}
  <a routerLink="/{{ appLang }}/account/register">{{
    'LOGIN-PAGE.SIGN_UP' | translate
  }}</a>
</p>
