@use 'vars';
@use 'mixins';

$google-btn: #e94d54;
$facebook-btn: #6aa1ed;

.login-form {
  &__input {
    background: vars.$bright-gray;
  }

  &__submit, &__facebook, &__google {
    @include mixins.border-radius(10px);
    
    color: vars.$white;
  }

  &__facebook {
    background: $facebook-btn;
  }

  &__google {
    background: $google-btn;
  }
}
