<h3 class="m-b-24px">Login</h3>

<form class="login-form m-b-20px">
  <div class="control-group">
    <label class="control-group__label" for="email">Email</label>
    <input
      class="login-form__input control-group__field"
      id="email"
      placeholder="Email"
      type="email" />
  </div>
  <div class="control-group">
    <label class="control-group__label" for="password">Password</label>
    <input
      class="login-form__input control-group__field"
      id="password"
      placeholder="Email"
      type="password" />
  </div>
  <button class="login-form__submit button button_orange w-100">Login</button>
</form>

<p class="text-center">
  Don't have an account? <a routerLink="/account/register">Sign Up here!</a>
</p>
