<div class="store-offers">
  <div class="display-flex align-items-center m-b-20px">
    <fa-icon [icon]="faStar" class="store-offers__icon m-r-16px"></fa-icon>
    <h3 class="store-offers__header">Store Offers</h3>
  </div>

  <owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let offer of storeOffers">
      <ng-template carouselSlide>
        <a
          class="store-offers__link display-flex"
          routerLink="{{
            offer.count_store > 1
              ? 'category/product_list/' + offer.slug
              : 'product/shop-name/' + offer.slug
          }}">
          <div class="store-offers__image m-r-16px">
            <img
              [alt]="offer.name1"
              [src]="
                'https://storage.googleapis.com/images-appla/production/thumbs_150/' +
                offer.picture
              " />
          </div>
          <div
            class="store-offers__info display-flex flex-direction-column justify-content-space-between">
            <div>
              <h3 class="store-offers__title">
                {{ offer.name1 }}
              </h3>
              <p>Available in: {{ offer.count_store }} stores</p>
            </div>
            <div class="store-offers__price">
              <h2 class="store-offers__price-title">Prices from:</h2>
              <p class="store-offers__price-item">
                {{ offer.min_price }} € - {{ offer.max_price }} €
              </p>
            </div>
          </div>
        </a>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</div>
