@use 'vars';
@use 'mixins';

.store-offers {
  &__icon {
    color: vars.$blue-yonder;
  }

  &__header {
    font-size: 16px;
    color: vars.$rich-black;
    font-weight: 700;
    margin: 0;
  }

  &__link {
    color: inherit;
    max-width: 80%;
  }

  &__image {
    @include mixins.centered-content;

    width: 150px;
    height: 150px;
  }

  &__info {
    width: 60%;
  }

  &__title {
    color: vars.$rich-black;
    font-weight: 700;
    font-size: 14px;
    white-space: initial;
    text-transform: capitalize;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__price-title {
    font-size: 16px;
    font-weight: 600;
  }

  &__price-item {
    color: vars.$honey-yellow;
  }
}
