@use 'sass:map';
@use '~assets/scss/vars';

$medium-devices-breakpoint: map.get(vars.$media-breakpoints, 'medium');
$large-devices-breakpoint: map.get(vars.$media-breakpoints, 'large');

.page-content {
  padding-top: 95px;

  @media (max-width: $large-devices-breakpoint) {
    padding-top: 72px;
  }

  @media (max-width: $medium-devices-breakpoint) {
    padding-top: 220px;
  }
}
