@use 'sass:map';
@use 'vars';
@use 'mixins';

$medium-devices-breakpoint: map.get(vars.$media-breakpoints, 'medium');

.footer {
  background: vars.$azureish-white;

  &-benefits {
    border-bottom: 1px solid vars.$lavender-gray;

    @media (max-width: $medium-devices-breakpoint) {
      border: none;
    }
  }

  &-benefit {
    border-right: 1px solid vars.$lavender-gray;

    @media (max-width: $medium-devices-breakpoint) {
      border: none;
    }

    &.no-border {
      border-right: none;
    }

    &__image {
      opacity: 0.6;
    }

    &__title {
      font-weight: 600;
      max-width: 65%;
    }

    &__description {
      font-size: 11px;
      max-width: 65%;
      color: vars.$rich-black;
    }
  }

  &-separator {
    height: 1px;
    background: vars.$alice-blue;
    border: none;
  }

  &-menu {
    &__header {
      color: vars.$rich-black;
      font-size: vars.$base-size * 3;
      font-weight: 700;
    }

    &__list {
      font-weight: 600;
      color: vars.$rich-black;

      &-item {
        width: 70%;
        font-weight: 600;
        color: vars.$dark-silver;

        &:hover {
          color: vars.$honey-yellow;
        }
      }
    }
  }

  & .login-actions {
    width: 75%;

    &__login {
      @include mixins.border-radius(vars.$base-size * 5);

      color: vars.$rich-black;
      border-color: vars.$rich-black;
      padding: vars.$base-size * 2 vars.$base-size * 5;
      font-size: 11px;

      &:hover {
        background: vars.$honey-yellow;
        border-color: vars.$honey-yellow;
        color: vars.$white;
      }
    }

    &__sign {
      @include mixins.border-radius(vars.$base-size * 5);

      color: vars.$white;
      background: vars.$honey-yellow;
      border-color: vars.$honey-yellow;
      padding: vars.$base-size * 2 vars.$base-size * 5;
      font-size: 11px;

      &:hover {
        color: vars.$rich-black;
        border-color: vars.$rich-black;
        background: transparent;
      }
    }
  }

  & .social {
    &__header {
      font-weight: 700;
      font-size: 12px;
    }

    &__link {
      color: inherit;
    }
  }

  & .address {
    &__text {
      color: vars.$rich-black;
      border-top: 1px solid rgb(0 0 0 / 20%);
      font-weight: 600;
    }
  }
}
