<footer class="footer m-t-40px p-t-24px">
  <div class="container">
    <section class="footer-benefits p-b-24px m-b-24px">
      <div class="row">
        <div class="column-6 column-medium-3 text-center">
          <div
            class="footer-benefit display-flex flex-column align-items-center">
            <img
              alt=""
              class="footer-benefit__image w-25"
              src="/assets/images/footer-benefits/CustomerSupport.png" />
            <span class="footer-benefit__title">{{
              'FOOTER.CUSTOMER_SUPPORT' | translate
            }}</span>
            <span class="footer-benefit__description">{{
              'FOOTER.CUSTOMER_SUPPORT_DESC' | translate
            }}</span>
          </div>
        </div>
        <div class="column-6 column-medium-3 text-center">
          <div
            class="footer-benefit display-flex flex-column align-items-center">
            <img
              alt=""
              class="footer-benefit__image w-25"
              src="/assets/images/footer-benefits/OnlinePayment.png" />
            <span class="footer-benefit__title">{{
              'FOOTER.ONLINE_PAYMENTS' | translate
            }}</span>
            <span class="footer-benefit__description">{{
              'FOOTER.ONLINE_PAYMENTS_DESC' | translate
            }}</span>
          </div>
        </div>
        <div class="column-6 column-medium-3 text-center">
          <div
            class="footer-benefit display-flex flex-column align-items-center">
            <img
              alt=""
              class="footer-benefit__image w-25"
              src="/assets/images/footer-benefits/FastDelivery.png" />
            <span class="footer-benefit__title">{{
              'FOOTER.DELIVERY' | translate
            }}</span>
            <span class="footer-benefit__description">{{
              'FOOTER.DELIVERY_DESC' | translate
            }}</span>
          </div>
        </div>
        <div class="column-6 column-medium-3 text-center">
          <div
            class="footer-benefit no-border display-flex flex-column align-items-center">
            <img
              alt=""
              class="footer-benefit__image w-25"
              src="/assets/images/footer-benefits/Secure.png" />
            <span class="footer-benefit__title">{{
              'FOOTER.SECURE' | translate
            }}</span>
            <span class="footer-benefit__description">{{
              'FOOTER.SECURE_DESC' | translate
            }}</span>
          </div>
        </div>
      </div>
    </section>
    <section class="footer-menu">
      <div class="row">
        <div
          class="col-md-3 col-6 display-flex align-items-center justify-content-center">
          <a routerLink="./">
            <img alt="" src="/assets/images/logo-appla-blue.svg" />
          </a>
        </div>
        <div class="col-md-3 col-6">
          <h5 class="footer-menu__header m-b-16px">
            {{ 'FOOTER.CATEGORIES' | translate }}
          </h5>
          <ul class="list-unstyled footer-menu__list">
            <li>
              <a
                [routerLink]="['./category/list/clothing-10002']"
                class="footer-menu__list-item d-inline-block m-b-12px"
                >{{ 'FOOTER.CLOTHING' | translate }}</a
              >
            </li>
            <li>
              <a
                [routerLink]="['./category/list/computers-peripherals-2833']"
                class="footer-menu__list-item d-inline-block m-b-12px"
                >{{ 'FOOTER.COMPUTERS' | translate }}</a
              >
            </li>
            <li>
              <a
                [routerLink]="['./category/list/sport-nutritions-5054']"
                class="footer-menu__list-item d-inline-block m-b-12px"
                >{{ 'FOOTER.SPORT_NUTRITIONS' | translate }}</a
              >
            </li>
            <li>
              <a
                [routerLink]="['./category/list/personal-care-tools-1333']"
                class="footer-menu__list-item d-inline-block m-b-12px"
                >{{ 'FOOTER.PERSONAL_CARE' | translate }}</a
              >
            </li>
            <li>
              <a
                [routerLink]="['./category/list/entertainment-hobby-2836']"
                class="footer-menu__list-item d-inline-block m-b-12px"
                >{{ 'FOOTER.HOBBY' | translate }}</a
              >
            </li>
            <li>
              <a
                [routerLink]="['./category/list/pet-care-2248']"
                class="footer-menu__list-item d-inline-block m-b-12px"
                >{{ 'FOOTER.PET_CARE' | translate }}</a
              >
            </li>
          </ul>
        </div>
        <div class="col-md-2 col-6">
          <h5 class="footer-menu__header m-b-16px">
            {{ 'FOOTER.USEFUL_LINKS' | translate }}
          </h5>
          <ul class="list-unstyled footer-menu__list">
            <li>
              <a
                [routerLink]="'/aboutus' | localize"
                class="footer-menu__list-item d-inline-block m-b-12px"
                >{{ 'FOOTER.ABOUT_US' | translate }}</a
              >
            </li>
            <li>
              <a
                class="footer-menu__list-item d-inline-block m-b-12px"
                href="https://blog.appla.cy/careers/en/"
                target="_blank"
                >{{ 'FOOTER.CAREERS' | translate }}</a
              >
            </li>
            <li>
              <a
                class="footer-menu__list-item d-inline-block m-b-12px"
                href="https://help.appla.cy/"
                target="_blank"
                >{{ 'FOOTER.HELP' | translate }}</a
              >
            </li>
            <li>
              <a
                class="footer-menu__list-item d-inline-block m-b-12px"
                routerLink="./privacy"
                >{{ 'FOOTER.PRIVACY' | translate }}</a
              >
            </li>
            <li>
              <a
                class="footer-menu__list-item d-inline-block m-b-12px"
                routerLink="./terms"
                >{{ 'FOOTER.TERMS' | translate }}</a
              >
            </li>
            <li>
              <a
                class="footer-menu__list-item d-inline-block m-b-12px"
                href="https://blog.appla.cy/faq-en/"
                target="_blank"
                >{{ 'FOOTER.FAQ' | translate }}</a
              >
            </li>
          </ul>
        </div>
        <div class="col-md-2 col-6">
          <h5 class="footer-menu__header m-b-16px">
            {{ 'FOOTER.CONTACT_INFO' | translate }}
          </h5>
          <ul class="list-unstyled footer-menu__list">
            <li>
              <a
                class="footer-menu__list-item d-inline-block m-b-12px w-100"
                href="tel:+35724506800"
                >{{ 'FOOTER.TEL' | translate }} +357 24506800</a
              >
            </li>
            <li>
              <a
                class="footer-menu__list-item d-inline-block m-b-12px w-100"
                href="mailto:contact@appla.cy"
                >{{ 'FOOTER.EMAIL' | translate }} contact@appla.cy</a
              >
            </li>
          </ul>
        </div>
        {{ isLogin$ | async | json }}
        <div *ngIf="(isLogin$ | async) === false" class="col-md-2 col-6">
          <div
            class="display-none display-medium-flex flex-column login-actions">
            <button
              (click)="openLoginModal()"
              class="btn btn-outline-primary login-actions__login m-b-12px">
              {{ 'FOOTER.LOGIN' | translate }}
            </button>
            <a
              class="btn btn-primary login-actions__sign"
              routerLink="./account/register"
              >{{ 'FOOTER.REGISTER' | translate }}
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="social text-center">
      <h5 class="social__header text-uppercase m-b-16px">
        {{ 'FOOTER.FOLLOW_APPLA' | translate }}
      </h5>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a
            class="social__link"
            href="https://www.facebook.com/ApplaCyprus/"
            target="_blank">
            <fa-icon [icon]="facebook" size="2x"></fa-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a
            class="social__link"
            href="https://twitter.com/ApplaCyprus"
            target="_blank">
            <fa-icon [icon]="faTwitter" size="2x"></fa-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a
            class="social__link"
            href="https://www.instagram.com/applacyprus"
            target="_blank">
            <fa-icon [icon]="faInstagram" size="2x"></fa-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a
            class="social__link"
            href="https://www.linkedin.com/company/applacyprus"
            target="_blank">
            <fa-icon [icon]="faLinkedin" size="2x"></fa-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a
            class="social__link"
            href="https://www.youtube.com/channel/UCmikV2xZNLFAdtmDgns0oCg"
            target="_blank">
            <fa-icon [icon]="faYoutube" size="2x"></fa-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a
            class="social__link"
            href="https://vm.tiktok.com/ZSek34Na1/"
            target="_blank">
            <fa-icon [icon]="faTiktok" size="2x"></fa-icon>
          </a>
        </li>
      </ul>
      <p *ngIf="isMainPage">
        {{ 'FOOTER.BOTTOM_TEXT' | translate }}
      </p>
    </section>
    <section class="address text-center m-t-24px">
      <div class="row">
        <div class="col-md-12">
          <p class="address__text p-t-16px">
            Spyrou Kyprianou 74, 1st Floor, 6057, Larnaca, Cyprus | © Apla
            E-Commerce LTD,
            {{ year | date: 'y' }}, All Rights Reserved.
          </p>
        </div>
      </div>
    </section>
  </div>
</footer>
