<div class="product-category-tile">
	<div class="display-flex justify-content-between align-items-center m-b-20px">
		<h3 class="product-category-tile__title">Smartphones</h3>
		<a href="#">See all</a>
	</div>

	<div class="row">
		<div class="column-6 column-medium-3 display-flex flex-column text-center">
			<img class="m-auto m-b-20px product-category-tile__image" src="./assets/images/carousel/store-offers/samsung.png" alt="">
			<h3 class="product-category-tile__product-title">
				Apple iPhone 13 Pro Max 17 cm (6.7)
			</h3>
			<p class="product-category-tile__product-price">1 399.00 €</p>
		</div>
		<div class="column-6 column-medium-3 display-flex flex-column text-center">
			<img class="m-auto m-b-20px product-category-tile__image" src="./assets/images/carousel/store-offers/samsung.png" alt="">
			<h3 class="product-category-tile__product-title">
				Apple iPhone 13 Pro Max 17 cm (6.7)
			</h3>
			<p class="product-category-tile__product-price">1 399.00 €</p>
		</div>
		<div class="column-6 column-medium-3 display-flex flex-column text-center">
			<img class="m-auto m-b-20px product-category-tile__image" src="./assets/images/carousel/store-offers/samsung.png" alt="">
			<h3 class="product-category-tile__product-title">
				Apple iPhone 13 Pro Max 17 cm (6.7)
			</h3>
			<p class="product-category-tile__product-price">1 399.00 €</p>
		</div>
		<div class="column-6 column-medium-3 display-flex flex-column text-center">
			<img class="m-auto m-b-20px product-category-tile__image" src="./assets/images/carousel/store-offers/samsung.png" alt="">
			<h3 class="product-category-tile__product-title">
				Apple iPhone 13 Pro Max 17 cm (6.7)
			</h3>
			<p class="product-category-tile__product-price">1 399.00 €</p>
		</div>
	</div>
</div>
