@use "~assets/scss/vars";
@use "~assets/scss/mixins";

:host {
  display: flex;
  width: 100%;

  .search-form {
    width: 100%;

    &__input {
      @include mixins.border-radius(vars.$base-size * 5, 0, 0, vars.$base-size * 5);
      border: 1px solid vars.$rich-black;
    }

    &__icon {
      @include mixins.border-radius(0, vars.$base-size * 5, vars.$base-size * 5, 0);
      font-size: 1rem;
      background: vars.$honey-yellow;
      border: 1px solid vars.$honey-yellow;
      cursor: pointer;
      color: vars.$white;
    }
  }
}
