@use '../../../assets/scss/vars' as vars;

.product-category-tile {
  background: vars.$alice-blue;
  padding: vars.$base-size * 3;

  &__link {
    color: inherit;
  }

  &__title {
    font-size: 1.5rem;
  }

  &__image {
    width: 100px;
    height: 100px;
  }

  &__product-title {
    font-size: 12px;
  }

  &__product-price {
    color: vars.$honey-yellow;
  }
}
