<div class="product-category-tile">
  <div class="display-flex justify-content-between align-items-center m-b-20px">
    <h3 class="product-category-tile__title">{{ title }}</h3>
    <a [routerLink]="link" [queryParams]="{ category_id: categoryId }"
      >See all</a
    >
  </div>

  <div class="row">
    <ng-container *ngFor="let entity of entities">
      <div
        class="column-6 column-medium-3 display-flex flex-column text-center">
        <a
          class="display-block product-category-tile__link"
          [routerLink]="['product', entity.store_name, entity.slug]">
          <img
            class="m-auto m-b-20px product-category-tile__image"
            [src]="
              'https://storage.googleapis.com/images-appla/production/thumbs_150/' +
              entity.data.picture
            "
            alt="" />
          <h3 class="product-category-tile__product-title">
            {{ entity.name1 }}
          </h3>
          <p class="product-category-tile__product-price">
            {{ entity.min_price }} €
          </p>
        </a>
      </div>
    </ng-container>
  </div>
</div>
