<div class="container p-t-20px">
  <div class="row">
    <div class="column-12">
      <h1 class="text-uppercase text-blue">Terms and Conditions</h1>

      <p>
        This website is operated by APLA E-COMMERCE LIMITED (referred to as
        “Apla/we/our/us"). As user or customer of this website (referred to as
        "you/your") you acknowledge that any use of this website including any
        transactions you make ("use/using") is subject to our terms and
        conditions below (which includes any other important hyper-linked
        sections e.g. Returns and refunds, and Privacy policy, Cookie policy
        (collectively the “Terms”). Before accessing and placing any orders on
        <a href="https://appla.cy/" target="_blank">https://appla.cy</a> (the
        “Website”) or our application (the “App”) please:
      </p>

      <ul>
        <p>read through these Terms carefully.</p>
        <p>print a copy for future reference.</p>
      </ul>

      <p>
        Apla is a company registered in the Republic of Cyprus under
        registration number HE 416199. Our registered address is Kalymnou 1, Q
        Merito Building 2nd floor, 6037, Larnaca, Cyprus. Our VAT registration
        number is 10416199E. This Website is intended for customers aged 18+. It
        is not directed at children. Subject to the Terms, you are authorised to
        view and download our Website or App for your personal use only. If you
        are not a consumer, you confirm that you have authority to bind any
        business/legal entity on whose behalf you use this Website or App. Apla
        may change, suspend or discontinue the Website or the App at any time,
        including the availability of any feature, database or content. Apla may
        also impose limits on certain features and services or restrict your
        access to parts or all of the Website or App without notice or
        liability. If you access the Website or the App, you agree to be bound
        by these Terms. If you do not agree to these Terms, you must immediately
        stop using the Website or the App. We may modify the Terms from time to
        time. Please therefore read the Terms and check back often. Any changes
        made after you have placed an order on the Website or the App will not
        affect that order unless we are required to make the change by law. If
        you have any questions about the Website or the App, please contact
        customer services at <a href="mailto:cs@appla.cy">cs@appla.cy</a>.
      </p>

      <h2 class="text-blue">1. About us</h2>

      <p>
        Apla is a technology company whose main activity is the development and
        management of a technology platform. Certain local
        stores/merchants/retail stores who have signed a commercial agreement
        with Apla can offer their products through the Website or the App.
        Through the Website and the App, users can search for and/or find and/or
        compare prices of various products available for sale by various local
        stores/merchants/retail stores. Apla merely acts as an intermediary and
        is therefore unable to assume and does not assume any responsibility for
        the quality of and/or merchantability of any of the products displayed
        on the Website or the App. Such responsibility lies solely with the
        local store/merchants/retail stores.
      </p>

      <h2 class="text-blue">
        2. Registration and account terms and conditions
      </h2>

      <p>
        2.1 Prior to placing an order through the Website or the App you will
        need to register for an account with Apla. When you register, you are
        required to provide information about yourself that is true, accurate,
        current, and complete in all respects. You must also ensure that all
        such information as required is up to date. Should any of your
        registration information change, please notify us immediately at the
        following e-mail address: <a href="mailto:cs@appla.cy">cs@appla.cy</a>.
        We may also change registration requirements from time to time.
      </p>

      <p>
        2.2 During the registration process, the account password you create
        should be unique and kept secure, and you must notify us immediately of
        any breach of security or unauthorized use of your account. Should you
        have any issues with your account or need any help in relation to it,
        then please do not hesitate to contact our customer care team. However,
        please note that we can only communicate with the named account holder
        in relation to any questions, changes or cancellation of an account.
      </p>

      <p>
        2.3 If you provide any false, inaccurate or incomplete information or if
        we consider that there are well founded reasons to doubt the
        truthfulness or accuracy of such information, we have the right to deny
        your use to the Website or App or any of our services.
      </p>

      <p>
        2.4 You have the right to deregister your account by sending an e-mail
        to
        <a href="mailto:cs@appla.cy">cs@appla.cy</a>.
      </p>

      <h2 class="text-blue">3. Eligibility to purchase.</h2>

      <p>
        3.1 In order to make purchases on the Website or the App you will be
        required to provide your personal details. In particular, you must
        provide your real name, phone number, e-mail address and other requested
        information as indicated. Furthermore, you will be required to provide
        payment details that you represent and warrant are both valid and
        correct and you confirm that you are the person referred to in the
        billing information provided.
      </p>

      <p>
        3.2 The Website and the App are available only to individuals and others
        who meet our terms of eligibility, who have been issued a valid
        credit/debit card by a bank acceptable to Apla, whose applications are
        acceptable to Apla and who have authorized Apla to process a charge or
        charges on their credit/debit/prepaid card in the amount of the total
        purchase price for the products which they purchase. Products purchased
        by a buyer are for personal or gift use and should not be re-sold, used
        for commercial purposes or any other commercial benefit. In addition,
        Apla reserves the right to restrict multiple quantities of an item being
        shipped to any one customer or postal address.
      </p>

      <p>
        3.3 You agree that we may use personal information provided by you in
        order to conduct appropriate anti- fraud checks. Personal Information
        that you provide may be disclosed to a credit reference or fraud
        prevention agency, which may keep a record of that information.
      </p>

      <p>
        Please refer to our Privacy Policy for further information about how we
        use your data.
      </p>

      <h2 class="text-blue">4. Use of Website and App</h2>

      <p>
        4.1 You must not use our Website or App: a) to access information which
        you have no legitimate reason for accessing; b) in a way which may
        interfere with the provision of our Website or App to you or any other
        customer, including, without limitation, attempting to place orders in
        contravention of these Terms or applicable law;
      </p>

      <p>
        4.2 If we reasonably believe you have misused our Website or App, we may
        suspend or cancel your access to it and/or cancel any orders you have
        placed.
      </p>

      <h2 class="text-blue">5. Order process</h2>

      <p>
        1. Select the goods you require from the Website or the App and click
        'Add to bag.'
      </p>
      <p>
        2. Choose the quantity of the products you wish to purchase (the default
        will be one (1) unit).
      </p>
      <p>
        3. Review your bag and make sure all specifications relating to the
        chosen products fit your requirements, then click "Checkout."
      </p>
      <p>
        4. You will be directed to the shipping confirmation and delivery
        options page where you may select the type of delivery which includes
        (i) collection from a courier pick up Point, (ii) Home Delivery by
        courier or (iii) collection form the merchant/retail physical store.
      </p>
      <p>
        5. In the event you chose to pay for the product through the Website or
        the App, you will be redirected to the webpage off our partner’s Payment
        Systems . The invoice regarding the payment of the purchased product
        shall be issued by the merchant/retail store but your payment will be
        collected by Apla on behalf of the merchant/retail store as per the
        commercial agreement we have with the merchant/retail store.
      </p>
      <p>
        6. You will have the option to pay for the product in cash upon
        accepting the delivery of the product at a courier collection point or
        alternatively in cash or debit/credit/prepaid card at the
        merchant/retail physical store.
      </p>
      <p>
        7. By placing an order through the Website or the App, you warrant that
        you are legally capable of entering into binding contracts.
      </p>
      <p>
        8. After placing your order you will receive an automated order
        acknowledgement either by us or the merchant/retail store itself. Please
        note that this does not mean that your order has been accepted. All
        orders are subject to acceptance by us and/or the merchant/retail store.
        You will receive an email confirming that Apla and/or the
        merchant/retail store has accepted your order when your order has been
        processed and is ready for delivery. You will not be charged before your
        order has been processed and is ready for delivery and/or collection
        (depending on the method of delivery and mode of payment you choose). If
        you choose to pay via debit/credit/prepaid card, this will show on your
        bank statement as a reservation of funds which allocates the money to
        your order but this will not be realised until your order has been
        processed by the merchant/retail store. In the event of the
        merchant/retail store not being able to fulfil your order, we will
        immediately request that your bank cancels the authorisation. If the
        authorisation still remains after several days, please contact your bank
        to request that they act upon our cancellation of the payment.
      </p>
      <p>
        9. Title to any products you order on the Website or the App shall pass
        to you on delivery of the products provided that you have placed your
        order in accordance with these Terms, your order has been processed, and
        provided we or the merchant/retail store have received payment in full
        for the products. If you choose to collect your order from a courier
        collection point or from the merchant/retail physical store, the title
        to the products shall pass to you once the products, ordered in
        accordance with these Terms, have been handed over to you at the courier
        collection point/physical store accordingly.
      </p>
      <p>
        10. You may place orders to purchase products from multiple
        merchants/retail stores with a single check out and single payment. In
        the event you opt for home delivery, such orders may be subject to
        separate courier/delivery charge(s) and your order may be delivered to
        you separately.
      </p>

      <h2 class="text-blue">6. Pricing</h2>

      <p>
        6.1 Prices shown on the Website and the App are in Euros and are
        inclusive of VAT at the applicable rate. All prices remain valid as
        advertised from time to time. The price of a product displayed on the
        Website or the App at the time the order is accepted will be honored.
      </p>

      <p>
        6.2 If you choose to pay for the products by way of credit/debit/prepaid
        card and your credit/debit/prepaid card is not denominated in Euros, the
        final price will be calculated in accordance with the applicable
        exchange rate on the day your card issuer processes the transaction.
      </p>

      <p>
        6.3 Home delivery costs may be additional to the displayed price and may
        vary depending on the quantity/weight of products ordered. If any order
        is subject to extra delivery charges, you will be advised of the
        additional cost before delivery of your order begins.
      </p>

      <h2 class="text-blue">7. Cancellation of orders and returns</h2>

      <p>
        7.1 After placing an order through the Website or the App, you may
        cancel the order at anytime provided that the order status is 'not yet
        shipped' by hitting the “cancel order” button which can be found in your
        account section.
      </p>

      <h2 class="text-blue">
        7.2 Right of unjustified withdrawal by the Customer
      </h2>

      <p>
        (i) You have the right to return your order or part of your order (if
        several products were purchased) within 14 days without giving any
        reason. The cancellation period ends 14 days after the day on which the
        products are delivered to you or from the day you collect your items
        from the merchant/retail store. If your order consists of multiple
        products which are delivered/collected on different days, then the
        cancellation period (in respect of your whole order) ends on the 14th
        day on which the last of the products are delivered/collected by you.
        You must return the products either in person or through a courier to
        the merchant/retail store. Any returns are at your own risk and cost.
        The returns request form can be found in your account section.
      </p>

      <p>
        It should be noted that some merchant/retails stores provide a longer
        period for returns. In such cases the return policy of the
        merchant/retail store is clearly stated in the invoice that the
        merchant/retail store will provide with the delivery of the products.
      </p>

      <p>
        7.3 Depending on who received the payment for the product (i.e Apla or
        the merchant/retail store) such entity will refund you in full for any
        returned items within a 14-day period. Apla or the merchant/retail store
        will have the right to deduct from any reimbursement an amount equal to
        any diminishment in value of the product as a result of you handling the
        items beyond what is necessary to establish the nature, characteristics
        and functioning of the product. Apla or the merchant/retail store
        accordingly will refund you using the same payment method originally
        used by you to make the payment (unless you have expressly agreed
        otherwise).. In all instances, the products must be in the original
        packaging where it forms part of the goods, (for example, boxed items)
        and must be undamaged upon return.
      </p>

      <h2 class="text-blue">Exceptions from withdrawal</h2>

      <p>Withdrawal is not valid on:</p>

      <ul>
        <li>
          Service contracts after the complete service provisioning, if its
          execution started with the prior explicit consent of the customer and
          with his acknowledgment of losing the right to withdrawal once the
          contract has been fully executed by the supplier.
        </li>
        <li>
          Products that are not suitable for return for reasons of health or
          hygiene and which have been unsealed after delivery, such as personal
          care items (such as, but not limited to, epilation machines, shaving
          machines, hair clippers, brushes, toothbrushes and thermometers,
          etc.).
        </li>
        <li>
          Contracts where the consumer has especially requested a visit from the
          supplier for the purpose of making urgent repairs or performing
          maintenance work. If, in the event of such visit, the supplier
          provides services in addition to those specifically requested by the
          consumer or goods in excess of spare parts necessarily used in the
          course of maintenance or repairs, the right of withdrawal applies to
          such additional services or goods.
        </li>
        <li>
          Sale of sealed sound recordings or sealed video recordings or sealed
          computer software that have been unsealed after delivery.
        </li>
      </ul>

      <h2 class="text-blue">7.4 Product Returns due to delivery error</h2>

      <p>
        (i) If you have received an incorrect product, the incorrect product
        will be exchanged for the same product you ordered subject to
        availability and provided the incorrect order is returned to the
        merchant/retail store within 14 days of you receiving the incorrect
        product.
      </p>

      <p>
        (ii) Personalised products are non-returnable (unless they are
        defective).
      </p>

      <p>
        (iii) The product needs to be in the original packaging where it forms
        part of the goods, (for example, boxed items) and must be undamaged upon
        return. You have a legal obligation to take reasonable care of the
        product while it is in your possession. If you fail to comply with this
        obligation, we or the merchant/retail store may have a right of action
        against you for compensation. This applies to all items that are
        returned.
      </p>

      <p>
        (iv) If you have received an incorrect product and the product you have
        ordered is not available, you will receive a refund for the product.
        Apla or the merchant/retail store accordingly will refund you using the
        same payment method originally used by you to make the payment (unless
        you have expressly agreed otherwise). You will be refunded no later than
        14 days after the day the incorrect products are returned by you. If you
        choose to return the incorrect product to the merchant/retail store
        through a courier, the merchant/retail store shall subject to its return
        policies refund the courier charge but only up to the cost of the
        standard delivery charge.
      </p>

      <h2 class="text-blue">7.5 Returns of defective products</h2>

      <p>
        (i) In the unlikely event that you receive a defective product, you will
        be entitled to one of the following remedies:
      </p>

      <p>
        (a) Within 30 days of receiving the defective product, you can choose to
        receive either:
      </p>

      <ul>
        <li>a repair or replacement by the merchant/retail store; or</li>
        <li>
          a full refund. Apla or the merchant/retail store accordingly will
          refund you using the same payment method originally used by you to
          make the payment (unless you have expressly agreed otherwise) within
          fourteen (14) days after you receive an e-mail that you are entitled
          to a refund for a defective product.
        </li>
      </ul>

      <p>
        If you choose to return the defective product to the merchant/retail
        store through a courier, the merchant/retail store shall subject to its
        return policies refund the courier charge but only up to the cost of the
        standard delivery charge.
      </p>

      <p>
        (b) If more than 30 days have passed after you received the product, you
        can claim a repair or a replacement of the defective item (but not a
        refund).
      </p>

      <p>
        (ii) Defective products may need to be inspected by a qualified
        technician at an authorized service center. It may therefore take more
        than 14 days for a repair/replacement or refund to take place.
      </p>

      <p>
        (iii) Following the examination of the returned product you will be
        notified of your refund or repair or replacement via email within a
        reasonable time period.
      </p>

      <p>
        (iv) If you have a query about returning goods, please contact customer
        services at
        <a href="mailto:cs@appla.cy">cs@appla.cy</a>.
      </p>

      <h2 class="text-blue">8. Product feedback and ratings</h2>

      <p>
        8.1 You will be able to provide feedback on a product displayed on the
        Website or the App by using text, ratings and/or photography.
      </p>

      <p>
        8.2 Any feedback you submit on the Website or the App is considered not
        to be confidential. By submitting text and/or a photo on the Website or
        the App, you grant to Apla a non-exclusive and permanent license, in
        order to reproduce, modify and publish the text and/or photo submitted
        on the Website or the App.
      </p>

      <p>
        8.3 The text of the evaluations for each product may mention your
        experience with a product and any remarks or evaluation about the
        product. The content of the feedback will be your intellectual property
        and must not infringe the personal information of third parties, or any
        other rights of third parties.
      </p>

      <p>
        8.4 By submitting text and/or a photo, you consent to technical
        processing and formatting of the photo in question and to any other
        modification of the text/photo by us prior to it being published to
        ensure that the photo and/or the text do not:
      </p>

      <p>
        i. Directly or indirectly direct users to an online store (whether it
        has a commercial agreement with Apla or not).
      </p>

      <p>
        ii. Disclosure information and/or details relating to the promotion or
        commercial advertising of any third party, other than the lawful
        relevant promotional activities organized and supervised by Apla’s
        Website or App.
      </p>

      <p>iii. Include indecent or ironic expressions and descriptions.</p>

      <p>iv. Deceive or defraud the merchant/retail store.</p>

      <p>
        f. Include any text which is unrelated to the assessment of the product.
      </p>

      <p>
        8.5 Your feedback shall be published on the Website or the App provided
        it is accompanied by a valid document or order number in order to be
        confirmed at any time with the merchant/retail store. Reviews that do
        not describe the reason for the evaluation or are limited to the
        characterization of the merchant/retail store or describe the
        order/purchase experience in a simplistic manner, will be automatically
        deleted from the Website and the App. Deleted feedback shall be reworded
        by their authors upon the request of Apla.
      </p>

      <p>
        8.6 Apla reserves the right, in accordance to the Privacy Policy, to
        request from you further information in order to publish the evaluation
        (indicatively, a photocopy of the document, order email, etc.). In case
        you do not make such documentation available within a reasonable period
        of time from the date requested, the rating will be considered invalid
        and will be deleted from the Website and the App.
      </p>

      <p>
        8.7 All negative ratings are communicated to the merchant/retail store
        to which they relate. The managers/authorized representative of the
        merchant/retail store shall have the right within ten (10) days to state
        their position regarding the negative rating, so that other
        customers/users and visitors of the Website or the App can be
        informed/made aware of the opinion of both parties. In all user ratings
        as well as in the answers of the merchant/retail store, it prohibited to
        refer to the name(s) and surname(s) of users or employees of companies
        or use language which may constitute rude characterizations.
        Furthermore, the comments must not be insulting, unlawful, defamatory,
        racist or libelous, incite hatred or violence, detrimental to people,
        institutions, religions or to people's privacy, which may cause harm to
        minors, is detrimental to the trademarks, patents and copyrighted
        content, contains personal data, improperly use the medium for promoting
        and advertising businesses. The Website and the App is available to the
        public therefore information you consider confidential should not be
        posted to this site. In the event that such phenomena are observed, Apla
        reserves the right, in its sole discretion, to delete any evaluation and
        answer(s)/opinion. Evaluations and responses should follow the informal
        terms of good behavior on the Internet.
      </p>

      <p>
        8.8 You shall have the right to evaluate a merchant/retail store only
        once (1) per transaction/document number. Only the author posting the
        evaluation shall have the right to delete an evaluation without a
        specific reason and as long as it does not violate the terms of this
        Section 8.
      </p>

      <p>
        8.9 The personal opinions of the merchants/retail stores whose products
        are advertised or marketed on the Website or App, or any third parties
        with whom we are associated are their own and do not necessarily reflect
        the views of Apla and we accept no responsibility for any such views
        expressed in any media.
      </p>

      <h2 class="text-blue">9. No commercial use</h2>

      <p>
        The Website and the App are for your personal non-commercial use only.
        You may not modify, copy, distribute, transmit, display, perform,
        reproduce, publish, license, commercially exploit, create derivative
        works from, transfer, data mine or sell any content, software, products,
        or services contained within the Website or the App.
      </p>

      <h2 class="text-blue">10. Third party</h2>

      <p>
        We may include hyperlinks on the Website or the App to other websites or
        applications or resources operated by parties other than Apla, including
        advertisers. Apla may not review all of the sites linked to its Website
        or App and is not responsible for the content or accuracy of any
        off-site pages nor are we responsible for the availability of such
        external websites, applications or resources, and do not endorse and are
        not responsible or liable, directly or indirectly, for the privacy
        practices or the content of such websites, including (without
        limitation) any advertising, products or other materials or services on
        or available from such websites or resources, nor for any damage, loss
        or offence caused or alleged to be caused by, or in connection with, the
        use of or reliance on any such content, goods or services available on
        such external websites or resources.
      </p>

      <h2 class="text-blue">11. Limitation of our liability</h2>

      <p>
        11.1 You are aware and accept that the descriptions of any product and,
        where applicable, the prices or photographs of a product contained on
        the Website and the App are provided and controlled by the
        merchant/retail store. We are therefore unable to provide any guarantees
        against any possible inaccuracies in such descriptions, prices and/or
        photographs, nor do we assume any responsibility for the quality of
        and/or merchantability of any of the products displayed on the Website
        or the App. Such responsibility lies solely with the merchants/retail
        stores.
      </p>

      <p>
        11.2 We do not control (and are under no obligation to control) how you
        use the Website or the App. We therefore do not guarantee that you use
        the Website or App in accordance with these Terms in a diligent and/or
        prudent manner. We do not check (and are under no obligation to check)
        the identity of any customer or the truthfulness, current validity,
        completeness and/or authenticity of the data supplied.
      </p>

      <p>
        11.3 We reject any liability for damages of any kind that may arise from
        your illegal use of the Website or the App or due to the information
        supplied by you to other users/customers about themselves being untrue,
        invalid, incomplete and/or false and, in particular and without
        limitation, for any loss or damage of any kind that may arise due to a
        customer impersonating a third party in any kind of communication made
        through the Website or the App. We further accept no responsibility for
        the use of the Website or App or for any orders that may be made by a
        third party from your account.
      </p>

      <p>
        11.4 We will further not be liable for losses that result from its
        failure to comply with these Terms that fall into the following
        categories:
      </p>

      <p>(a) loss of income or revenue;</p>

      <p>(b) loss of business;</p>

      <p>(c) loss of profits;</p>

      <p>(d) loss of anticipated savings;</p>

      <p>(e) loss of data; or</p>

      <p>(f) waste of management or office time.</p>

      <p>
        11.5 Nothing in these Terms is intended to exclude or limit our
        liability for:
      </p>

      <p>(a) death or personal injury caused by our negligence;</p>

      <p>
        (b) any other matter for which it would be illegal for us to exclude or
        attempt to exclude its liability.
      </p>

      <p>
        11.6 Whilst we adopt industry standard protections against computer
        viruses, we are not able to warrant that the Website or the App are free
        from computer viruses or any other malicious or impairing computer
        program.
      </p>

      <p>
        11.7 We shall not be liable for any service interruptions, connection
        errors, unavailability or malfunctions in the internet access service or
        any other matter beyond our control. Notwithstanding the foregoing, we
        shall, take reasonable steps to correct such errors as soon as we become
        aware of any errors which may be out of date.
      </p>

      <p>
        11.8 We shall not be held responsible for any security errors that may
        arise or any damage that may be caused to your computer
        system/telephone/tablet (hardware and software), or to the files or
        documents stored therein, as a result of:
      </p>

      <p>
        a. The presence of a virus in your electronic device(s) used to connect
        the content and services of the Website or App.
      </p>

      <p>b. Browser error.</p>

      <p>
        c. The use of outdated versions of an electronic device or a Browser
      </p>

      <h2 class="text-blue">12. Intellectual property rights</h2>

      <p>
        12.1 Your use of the Website and its contents grants no rights to you in
        relation to any copyright, designs, trademarks and all other
        intellectual property and material rights relating to any content of the
        Website or the App, including Apla’s software and all HTML and other
        code contained on the Website and the App. All such content including
        third party trademarks, designs, and related intellectual property
        rights mentioned or displayed on the Website and the App are protected
        by national intellectual property and other European/International
        treaty provisions. The contents of this website may not be copied,
        reproduced, modified, downloaded or used in any form without our prior
        written permission.
      </p>

      <p>
        12.2 Unless otherwise specified, the intellectual property rights in the
        contents of all the pages of the Website, are owned or licensed to Apla,
        or are used with permission from the owner.
      </p>

      <h2 class="text-blue">13. Events outside our control</h2>

      <p>
        Apla will not be liable or responsible for any failure to perform, or
        delay in performance of any of its obligations to you that is caused by
        events outside our reasonable control (a "Force Majeure Event"). A Force
        Majeure Event includes any act, event, non-happening, omission or
        accident beyond our reasonable control and includes (without limitation)
        the following:
      </p>

      <p>(a) Pandemics or epidemics</p>

      <p>(b)Strikes, lock-outs or other industrial action;</p>

      <p>
        (c) Civil commotion, riot, invasion, terrorist attack or threat of
        terrorist attack, war (whether declared or not) or threat or preparation
        for war;
      </p>

      <p>
        (d) Fire, explosion, storm, flood, earthquake, subsidence, or other
        natural disaster;
      </p>

      <p>
        (e) Impossibility of the use of any means of public or private
        transport;
      </p>

      <p>(f) Impossibility of the use of telecommunications networks;</p>

      <p>
        (g) The acts, decrees, legislation, regulations or restrictions of the
        Government of the Republic of Cyprus.
      </p>

      <p>
        In the event of a Force Majeure Event, Apla 's performance is deemed to
        be suspended for the period that the Force Majeure Event continues, and
        Apla will have an extension of time for performance for the duration of
        that period. Apla will use its reasonable endeavours to bring the Force
        Majeure Event to a close or to find a solution by which its obligations
        to you may be performed despite the Force Majeure Event.
      </p>

      <h2 class="text-blue">14. Your activity</h2>

      <p>
        You agree that you will be personally responsible for your use of the
        Website and the App and for all of your communication and activity on
        and pursuant to the Website and the App. If we determine that you are or
        have been engaged in prohibited activities, were not respectful of other
        users, or otherwise violated the Terms, we at our sole discretion may
        deny you access to the Website on a temporary or permanent basis.
      </p>

      <h2 class="text-blue">15. Compensation</h2>

      <p>
        At our request, you agree to fully compensate us, defend us, and hold us
        harmless immediately on demand, our officers, directors, agents,
        affiliates, licensors, and suppliers, from and against all liabilities,
        claims, expenses, damages and losses, including legal fees, arising from
        any breach of the Terms by you, including the use by any other persons
        accessing the Website or the App using your account caused by your
        action or inaction.
      </p>

      <h2 class="text-blue">16. Our relationship</h2>

      <p>
        You acknowledge and agree that no joint venture, partnership,
        employment, or agency relationship exists between you and Apla as a
        result of the Terms or by you using the Website or the App.
      </p>

      <h2 class="text-blue">17. No waiver</h2>

      <p>
        In the event you breach the Terms and we take no action against you, we
        will still be entitled to use our rights and remedies in any other
        situation where you breach the Terms.
      </p>

      <h2 class="text-blue">18. Severability</h2>

      <p>
        If any clause of these Terms is found to be void by operation of law or
        voidable, it shall be deemed not to have been included. Such declaration
        of nullity will not cause the rest of the Terms to be void, and the said
        Terms shall remain valid, effective and binding upon you.
      </p>

      <h2 class="text-blue">19. Governing law and jurisdiction</h2>

      <p>
        These terms and conditions shall be subject to the laws of the Republic
        of Cyprus. The Courts of the Republic of Cyprus shall have exclusive
        jurisdiction over all claims or disputes (whether contractual or
        non-contractual) arising in relation to, out of or in connection with
        these Terms including orders for products.
      </p>
    </div>
  </div>
</div>
