<nav class="nav">
	<ul class="nav-list navbar-nav flex-row w-100 justify-content-between">
		<li class="nav-list__item nav-item dropdown">
			<a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
			   aria-expanded="false">
				Technology
			</a>
			<ul class="dropdown-menu">
				<li><a class="dropdown-item" href="#">Action</a></li>
				<li><a class="dropdown-item" href="#">Another action</a></li>
				<li><a class="dropdown-item" href="#">Something else here</a></li>
			</ul>
		</li>
		<li class="nav-list__item nav-item dropdown">
			<a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
			   aria-expanded="false">
				Home and Garden
			</a>
			<ul class="dropdown-menu">
				<li><a class="dropdown-item" href="#">Action</a></li>
				<li><a class="dropdown-item" href="#">Another action</a></li>
				<li><a class="dropdown-item" href="#">Something else here</a></li>
			</ul>
		</li>
		<li class="nav-list__item nav-item dropdown">
			<a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
			   aria-expanded="false">
				Health and Beauty
			</a>
			<ul class="dropdown-menu">
				<li><a class="dropdown-item" href="#">Action</a></li>
				<li><a class="dropdown-item" href="#">Another action</a></li>
				<li><a class="dropdown-item" href="#">Something else here</a></li>
			</ul>
		</li>
		<li class="nav-list__item nav-item dropdown">
			<a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
			   aria-expanded="false">
				Fashion
			</a>
			<ul class="dropdown-menu">
				<li><a class="dropdown-item" href="#">Action</a></li>
				<li><a class="dropdown-item" href="#">Another action</a></li>
				<li><a class="dropdown-item" href="#">Something else here</a></li>
			</ul>
		</li>
		<li class="nav-list__item nav-item dropdown">
			<a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
			   aria-expanded="false">
				Babies and Children
			</a>
			<ul class="dropdown-menu">
				<li><a class="dropdown-item" href="#">Action</a></li>
				<li><a class="dropdown-item" href="#">Another action</a></li>
				<li><a class="dropdown-item" href="#">Something else here</a></li>
			</ul>
		</li>
		<li class="nav-list__item nav-item dropdown">
			<a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
			   aria-expanded="false">
				Sports
			</a>
			<ul class="dropdown-menu">
				<li><a class="dropdown-item" href="#">Action</a></li>
				<li><a class="dropdown-item" href="#">Another action</a></li>
				<li><a class="dropdown-item" href="#">Something else here</a></li>
			</ul>
		</li>
		<li class="nav-list__item nav-item dropdown">
			<a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
			   aria-expanded="false">
				Hobby and Entertainment
			</a>
			<ul class="dropdown-menu">
				<li><a class="dropdown-item" href="#">Action</a></li>
				<li><a class="dropdown-item" href="#">Another action</a></li>
				<li><a class="dropdown-item" href="#">Something else here</a></li>
			</ul>
		</li>
		<li class="nav-list__item nav-item dropdown">
			<a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
			   aria-expanded="false">
				Pet Supplies
			</a>
			<ul class="dropdown-menu">
				<li><a class="dropdown-item" href="#">Action</a></li>
				<li><a class="dropdown-item" href="#">Another action</a></li>
				<li><a class="dropdown-item" href="#">Something else here</a></li>
			</ul>
		</li>
		<li class="nav-list__item nav-item dropdown">
			<a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
			   aria-expanded="false">
				Others
			</a>
			<ul class="dropdown-menu">
				<li><a class="dropdown-item" href="#">Action</a></li>
				<li><a class="dropdown-item" href="#">Another action</a></li>
				<li><a class="dropdown-item" href="#">Something else here</a></li>
			</ul>
		</li>
	</ul>
</nav>
