<div *ngIf="productOffer$ | async as offer" class="container">
  <section class="m-b-20px">
    <div class="row">
      <div class="column-12 m-b-12px">
        <ng-container *ngFor="let breadcrumb of offer.arr_cats">
          <a routerLink="/{{ appLang }}/category/list/{{ breadcrumb.slug }}">{{
            breadcrumb.name
          }}</a>
          /
        </ng-container>
      </div>
    </div>
    <div class="row">
      <div class="column-12 column-medium-9">
        <div class="card-content m-b-12px">
          <div class="compare-prices-product">
            <div class="row">
              <div class="column-medium-3 text-center">
                <img
                  alt="{{ offer.master_product_info.name }}"
                  applaErrorImage
                  class="img-fluid"
                  src="https://storage.googleapis.com/images-appla/production/thumbs_150/{{
                    offer.master_product_info.picture
                  }}" />
              </div>
              <div class="column-12 column-medium-9">
                <p class="fw-semibold">{{ offer.master_product_info.name }}</p>
                <p (click)="goToProductSpec()" class="appla-link">
                  {{ 'COMPARE-PRICES-PAGE.PRODUCT_SPEС' | translate }}
                </p>
                <p>
                  {{ 'COMPARE-PRICES-PAGE.WEIGHT' | translate }}:
                  {{ offer.master_product_info.weight }} g
                </p>
                <p>
                  {{ 'COMPARE-PRICES-PAGE.VIEW' | translate }}
                  {{ offer.stories.length }}
                  {{ 'COMPARE-PRICES-PAGE.OFFERS' | translate }},
                  {{ 'COMPARE-PRICES-PAGE.FROM' | translate }}
                  {{ offer.master_product_info.min_price | currency }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column-12 column-medium-3">
        <div class="card-content">
          <div class="compare-prices-rating">
            <div class="m-b-4px">
              <ngb-rating
                [max]="maxRating"
                [rate]="offer.rating"
                [readonly]="true"></ngb-rating>
              | {{ offer.rating }}
              {{ 'COMPARE-PRICES-PAGE.REVIEWS' | translate }}
            </div>
            <h6>{{ offer.rating }} of {{ maxRating }}</h6>
            <div class="display-flex m-b-4px">
              <span class="m-r-8px">5 stars</span>
              <ngb-progressbar [value]="0" class="flex-grow-1" type="success"
                >default
              </ngb-progressbar>
            </div>
            <div class="display-flex m-b-4px">
              <span class="m-r-8px">4 stars</span>
              <ngb-progressbar [value]="0" class="flex-grow-1" type="success"
                >default
              </ngb-progressbar>
            </div>
            <div class="display-flex m-b-4px">
              <span class="m-r-8px">3 stars</span>
              <ngb-progressbar [value]="0" class="flex-grow-1" type="success"
                >default
              </ngb-progressbar>
            </div>
            <div class="display-flex m-b-4px">
              <span class="m-r-8px">2 stars</span>
              <ngb-progressbar [value]="0" class="flex-grow-1" type="success"
                >default
              </ngb-progressbar>
            </div>
            <div class="display-flex">
              <span class="m-r-8px">1 stars</span>
              <ngb-progressbar [value]="0" class="flex-grow-1" type="success"
                >default
              </ngb-progressbar>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="m-b-20px">
    <div class="product-offers">
      <h4 class="text-orange">
        {{ 'COMPARE-PRICES-PAGE.OFFERS_HEADER' | translate }} ({{
          offer.stories.length
        }})
      </h4>
      <div class="row">
        <div class="column-12">
          <div class="card-content">
            <div class="product-offers__header">
              <h5>
                {{ 'COMPARE-PRICES-PAGE.COMPARE_PRICES' | translate }}:
                {{ offer.master_product_info.name }}
              </h5>
              <p>{{ 'COMPARE-PRICES-PAGE.RECOMMENDED_OFFERS' | translate }}</p>
            </div>
            <div
              *ngFor="let store of offer.stories"
              class="product-offers__item p-t-16px">
              <div class="row align-items-center">
                <div class="column-2 display-none display-medium-block">
                  <img
                    alt="{{ store.name }}"
                    applaErrorImage
                    class="product-offers__image"
                    src="https://storage.googleapis.com/images-appla/profile_picture/{{
                      store.avatar
                    }}" />
                </div>
                <div class="column-12 column-medium-10">
                  <div class="row justify-content-end align-items-center">
                    <div class="column-12 column-medium-4">
                      <p class="fw-bolder">
                        <a
                          [innerHTML]="store.name"
                          href="https://angular.appla.cy/store/{{
                            store.store_slug
                          }}"></a>
                      </p>
                      <p>
                        {{ offer.master_product_info.name }}
                      </p>
                    </div>
                    <div class="column-12 column-medium-4">
                      <p class="badge bg-success">
                        {{ 'COMPARE-PRICES-PAGE.IN_STOCK' | translate }}
                      </p>
                      <p>
                        <fa-icon [icon]="faTruck"></fa-icon>
                        {{ 'COMPARE-PRICES-PAGE.SHIPPING' | translate }}
                      </p>
                      <p>
                        <ngb-rating
                          [max]="5"
                          [rate]="store.raiting"
                          [readonly]="true"></ngb-rating>
                        | {{ store.raiting }}
                        {{ 'COMPARE-PRICES-PAGE.REVIEWS' | translate }}
                      </p>
                    </div>
                    <div
                      class="column-12 column-medium-4 display-flex flex-direction-column">
                      <p class="text-orange text-center">
                        {{ store.price | currency }}
                      </p>
                      <a
                        class="button button_orange"
                        routerLink="/{{ appLang }}/product/{{
                          store.store_slug
                        }}/{{ store.product_slug }}"
                        >{{ 'COMPARE-PRICES-PAGE.VIEW_OFFER' | translate }}</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="m-b-20px" id="product-spec">
    <div class="card-content">
      <h5>{{ 'COMPARE-PRICES-PAGE.PRODUCT_SPEС' | translate }}</h5>
      <ngb-accordion #acc="ngbAccordion">
        <ngb-panel
          *ngFor="
            let spec of offer.master_product_info.technical_detail | keyvalue
          "
          [title]="spec.key">
          <ng-template ngbPanelContent>
            <ng-container *ngFor="let k of spec.value | keyvalue">
              <p>
                <strong>{{ k.key }}:</strong> {{ k.value }}
              </p>
            </ng-container>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </section>

  <section class="m-b-20px">
    <div class="card-content">
      <h5>{{ 'COMPARE-PRICES-PAGE.SIMILAR_PRODUCTS' | translate }}</h5>
      <appla-similar-products
        [similarProducts]="offer.similar_short"></appla-similar-products>
    </div>
  </section>
</div>

<section>
  <div class="container">
    <div class="row">
      <div class="column-12">
        <appla-advertise-banner></appla-advertise-banner>
      </div>
    </div>
  </div>
</section>
