<div *ngIf="productOffer$ | async as offer" class="container p-t-20px">
  <section class="m-b-20px">
    <div class="row">
      <div class="column-12 m-b-12px">
        <a routerLink="./category/list/{{ offer.category.slug }}">{{
          offer.category.name
        }}</a>
      </div>
    </div>
    <div class="row">
      <div class="column-12 column-medium-9">
        <div class="card-content m-b-12px">
          <div class="compare-prices-product">
            <div class="row">
              <div class="column-medium-3">
                <img
                  alt="{{ offer.master_product_info.name }}"
                  class="img-fluid"
                  src="https://storage.googleapis.com/images-appla/production/thumbs_150/{{
                    offer.master_product_info.picture
                  }}" />
              </div>
              <div class="column-12 column-medium-9">
                <p class="fw-semibold">{{ offer.master_product_info.name }}</p>
                <p (click)="goToProductSpec()" class="appla-link">
                  Product specification
                </p>
                <!--                <p>Weight: {{ offer.master_product_info. }} g</p>-->
                <p>
                  View {{ offer.stories.length }} offers, from
                  <!--                  {{ offer.master_product_info.price }} €-->
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column-12 column-medium-3">
        <div class="card-content">
          <div class="compare-prices-rating">
            <div class="m-b-4px">
              <ngb-rating
                [max]="maxRating"
                [rate]="offer.rating"
                [readonly]="true"></ngb-rating>
              | {{ offer.rating }} reviews
            </div>
            <h6>{{ offer.rating }} of {{ maxRating }}</h6>
            <div class="display-flex m-b-4px">
              <span class="m-r-8px">5 stars</span>
              <ngb-progressbar [value]="0" class="flex-grow-1" type="success"
                >default
              </ngb-progressbar>
            </div>
            <div class="display-flex m-b-4px">
              <span class="m-r-8px">4 stars</span>
              <ngb-progressbar [value]="0" class="flex-grow-1" type="success"
                >default
              </ngb-progressbar>
            </div>
            <div class="display-flex m-b-4px">
              <span class="m-r-8px">3 stars</span>
              <ngb-progressbar [value]="0" class="flex-grow-1" type="success"
                >default
              </ngb-progressbar>
            </div>
            <div class="display-flex m-b-4px">
              <span class="m-r-8px">2 stars</span>
              <ngb-progressbar [value]="0" class="flex-grow-1" type="success"
                >default
              </ngb-progressbar>
            </div>
            <div class="display-flex">
              <span class="m-r-8px">1 stars</span>
              <ngb-progressbar [value]="0" class="flex-grow-1" type="success"
                >default
              </ngb-progressbar>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="m-b-20px">
    <div class="product-offers">
      <h4 class="text-orange">Offers ({{ offer.stories.length }})</h4>
      <div class="row">
        <div class="column-12">
          <div class="card-content">
            <div class="product-offers__header">
              <h5>Compare prices: {{ offer.master_product_info.name }}</h5>
              <p>Recommended Offers</p>
            </div>
            <div
              *ngFor="let store of offer.stories"
              class="product-offers__item p-t-16px">
              <div class="row align-items-center">
                <div class="column-2 display-none display-medium-block">
                  <img
                    alt="{{ store.name }}"
                    class="product-offers__image"
                    src="https://storage.googleapis.com/images-appla/profile_picture/{{
                      store.avatar
                    }}" />
                </div>
                <div class="column-12 column-medium-10">
                  <div class="row justify-content-end align-items-center">
                    <div class="column-12 column-medium-4">
                      <p class="fw-bolder">
                        <a href="">{{ store.name }}</a>
                      </p>
                      <p>
                        {{ offer.master_product_info.name }}
                      </p>
                    </div>
                    <div class="column-12 column-medium-4">
                      <p class="badge bg-success">In Stock</p>
                      <p>
                        <fa-icon [icon]="faTruck"></fa-icon>
                        Shipping not included
                      </p>
                      <p>
                        <ngb-rating
                          [max]="5"
                          [rate]="store.raiting"
                          [readonly]="true"></ngb-rating>
                        | {{ store.raiting }} reviews
                      </p>
                    </div>
                    <div
                      class="column-12 column-medium-4 display-flex flex-direction-column">
                      <p class="text-orange text-center">
                        {{ store.price | currency }}
                      </p>
                      <a
                        class="button button_orange"
                        routerLink="/{{ appLang }}/product/{{
                          store.store_slug
                        }}/{{ store.product_slug }}"
                        >View offer</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="m-b-20px" id="product-spec">
    <div class="card-content">
      <h5>Product Specifications</h5>
      <ngb-accordion #acc="ngbAccordion">
        <ngb-panel
          *ngFor="
            let spec of offer.master_product_info.technical_detail | keyvalue
          "
          [title]="spec.key">
          <ng-template ngbPanelContent>
            <ng-container *ngFor="let k of spec.value | keyvalue">
              <p>
                <strong>{{ k.key }}:</strong> {{ k.value }}
              </p>
            </ng-container>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </section>

  <section>
    <div class="card-content">
      <h5>Similar Products</h5>
      <appla-similar-products
        [similarProducts]="offer.similar_short"></appla-similar-products>
    </div>
  </section>
</div>
