@use '../../../../assets/scss/vars' as vars;

.product-offers {
  &__header {
    border-bottom: 1px solid vars.$alice-blue;
  }

  &__image {
    width: 55px;
    height: 55px;
  }

  &__item {
    border-bottom: 1px solid vars.$alice-blue;

    &:last-child {
      border: none;
    }
  }

  &__link {
    background-color: vars.$honey-yellow;
    border-color: vars.$honey-yellow;
    color: vars.$white;
    font-weight: 600;
    padding: 10px 20px;
  }
}
