@use 'vars';
@use 'mixins';

.product-offers {
  &__header {
    border-bottom: 1px solid vars.$alice-blue;
  }

  &__image {
    width: 55px;
    height: 55px;
  }

  &__item {
    border-bottom: 1px solid vars.$alice-blue;

    &:last-child {
      border: none;
    }
  }

  .localized-banner {
    @include mixins.border-radius(vars.$base-size * 3);
    background: vars.$honey-yellow;
    color: vars.$white;
    cursor: pointer;

    &__icon {
      @include mixins.border-radius(50%);
      background: vars.$united-nations-blue;
      color: vars.$white;
      width: vars.$base-size * 6;
      height: vars.$base-size * 6;
      transform: scale(1.2);
    }
  }
}
