<div *ngIf="productOffer$ | async as offer" class="container">
  <section class="m-b-20px">
    <div class="row">
      <div class="column-12 m-b-12px">
        <a routerLink="/category/list/{{ offer.category.slug }}">{{
          offer.category.name1
        }}</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-md-9 col-12">
        <div class="card-content">
          <div class="compare-prices-product">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-12">
                <img
                  alt=""
                  class="img-fluid"
                  src="https://storage.googleapis.com/images-appla/production/thumbs_150/{{
                    offer.master_product_info.picture
                  }}" />
              </div>
              <div class="col-lg-9 col-md-9 col-12">
                <p class="fw-semibold">{{ offer.master_product_info.name1 }}</p>
                <p>Product specification</p>
                <p>Weight: {{ offer.master_product_info.weight }} g</p>
                <p>
                  View {{ offer.stories.length }} offers, from
                  {{ offer.master_product_info.price }} €
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-12">
        <div class="card-content">
          <div class="compare-prices-rating">
            <div class="m-b-4px">
              <ngb-rating [max]="5" [rate]="0" [readonly]="true"></ngb-rating>
              | 0 reviews
            </div>
            <h6>0 of 5</h6>
            <div class="display-flex m-b-4px">
              <span class="m-r-8px">5 stars</span>
              <ngb-progressbar [value]="0" class="flex-grow-1" type="success"
                >default
              </ngb-progressbar>
            </div>
            <div class="display-flex m-b-4px">
              <span class="m-r-8px">4 stars</span>
              <ngb-progressbar [value]="0" class="flex-grow-1" type="success"
                >default
              </ngb-progressbar>
            </div>
            <div class="display-flex m-b-4px">
              <span class="m-r-8px">3 stars</span>
              <ngb-progressbar [value]="0" class="flex-grow-1" type="success"
                >default
              </ngb-progressbar>
            </div>
            <div class="display-flex m-b-4px">
              <span class="m-r-8px">2 stars</span>
              <ngb-progressbar [value]="0" class="flex-grow-1" type="success"
                >default
              </ngb-progressbar>
            </div>
            <div class="display-flex">
              <span class="m-r-8px">1 stars</span>
              <ngb-progressbar [value]="0" class="flex-grow-1" type="success"
                >default
              </ngb-progressbar>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="m-b-20px">
    <div class="product-offers">
      <h4 class="text-orange">Offers ({{ offer.stories.length }})</h4>
      <div class="row">
        <div class="col-12">
          <div class="card-content">
            <div class="product-offers__header">
              <h5>Compare prices: {{ offer.master_product_info.name1 }}</h5>
              <p>Recommended Offers</p>
            </div>
            <div
              *ngFor="let store of offer.stories"
              class="product-offers__item p-t-16px">
              <div class="row align-items-center">
                <div class="col-2">
                  <img
                    alt=""
                    class="product-offers__image"
                    src="https://storage.googleapis.com/images-appla/profile_picture/{{
                      store.avatar
                    }}" />
                </div>
                <div class="col-10">
                  <div class="row justify-content-end align-items-center">
                    <div class="col-4">
                      <p class="fw-bolder">
                        <a href="">{{ store.name }}</a>
                      </p>
                      <p>
                        {{ offer.master_product_info.name1 }}
                      </p>
                    </div>
                    <div class="col-4">
                      <p class="badge bg-success">In Stock</p>
                      <p>
                        <fa-icon [icon]="faTruck"></fa-icon>
                        Shipping not included
                      </p>
                      <p>
                        <ngb-rating
                          [max]="5"
                          [rate]="0"
                          [readonly]="true"></ngb-rating>
                        | 0 reviews
                      </p>
                    </div>
                    <div class="col-4 text-end">
                      <p class="text-orange">309.00 €</p>
                      <a class="product-offers__link" href="#">View offer</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="m-b-20px">
    <div class="card-content">
      <h5>Product Specifications</h5>
      <p>Coming soon</p>
    </div>
  </section>
</div>
