<div class="aside-widget">
  <div class="aside-widget__head p-b-8px m-b-20px">
    <button
      (click)="collapse.toggle()"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseExample"
      class="aside-widget__toggle display-flex w-100"
      type="button">
      {{ widgetHeader }}
      <fa-icon
        *ngIf="isCollapsed"
        [icon]="faChevronDown"
        class="m-l-auto aside-widget__icon"></fa-icon>
      <fa-icon
        *ngIf="!isCollapsed"
        [icon]="faChevronUp"
        class="m-l-auto aside-widget__icon"></fa-icon>
    </button>
  </div>

  <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
    <ng-content></ng-content>
  </div>
</div>
