@use '~bootstrap/scss/bootstrap';
@use 'sass:map';
@use 'assets/scss/vars';
@use 'assets/scss/utils';
@use 'assets/scss/mixins';
@use 'assets/scss/fonts';
@use 'assets/scss/grid';
@use 'assets/scss/components';
@use 'assets/scss/typography';

$medium-devices-breakpoint: map.get(vars.$media-breakpoints, 'medium');
$large-devices-breakpoint: map.get(vars.$media-breakpoints, 'large');

html,
body {
  font-size: vars.$base-size * 3;
  height: 100%;
}

body {
  font-weight: 400;
  font-family: vars.$base-font;
  color: vars.$rich-black;
  background: vars.$ghost-white;
}

a {
  text-decoration: none !important;
}

.owl-carousel {
  margin: 0 vars.$base-size * 8;

  @media (max-width: $medium-devices-breakpoint) {
    margin: 0;
  }
}

.owl-theme {
  & .owl-nav {
    .owl-prev,
    .owl-next {
      width: vars.$base-size * 8;
      height: vars.$base-size * 8;
      @include mixins.border-radius(50%);
      background: vars.$honey-yellow;
      color: vars.$white;

      &:hover {
        background: vars.$honey-yellow;
      }
    }
  }
}

.main-content {
  margin-top: 126px;
  min-height: 100%;

  @media (max-width: $large-devices-breakpoint) {
    margin-top: 145px;
  }

  @media (max-width: $medium-devices-breakpoint - 1px) {
    margin-top: 280px;
  }
}
