@use '~bootstrap/scss/bootstrap';
@use "assets/scss/vars";
@use "assets/scss/mixins";
@use "assets/scss/utils";
@use "assets/scss/fonts";
@use "assets/scss/grid";
@use "assets/scss/components";


body {
  font-weight: 400;
  font-family: vars.$base-font;
  font-size: vars.$base-size * 3;
  color: vars.$rich-black;
}

a {
  text-decoration: none !important;
}
