<main>
  <section class="m-b-20px">
    <appla-slider></appla-slider>
  </section>

  <div class="container">
    <section class="m-b-16px">
      <div class="row">
        <div class="column-12">
          <appla-carousel>
            <appla-store-offers></appla-store-offers>
          </appla-carousel>
        </div>
      </div>
    </section>

    <section class="m-b-16px">
      <div class="row">
        <div class="column-small-12 column-medium-9 m-b-8px">
          <appla-tile>
            <img
              tile-image
              class="img-responsive"
              src="./assets/images/tiles-images/supersale.png"
              alt="" />
          </appla-tile>
        </div>
        <div class="column-small-6 column-medium-3 m-b-8px">
          <appla-tile tileColor="blue">
            <img
              tile-image
              class="img-responsive"
              src="./assets/images/tiles-images/systemComp.png"
              alt="" />
            <span tile-title>System Components</span>
          </appla-tile>
        </div>
        <div class="column-small-6 column-medium-3 m-b-8px">
          <appla-tile tileColor="orange">
            <img
              tile-image
              class="img-responsive"
              src="./assets/images/tiles-images/fashion.png"
              alt="" />
            <span tile-title>Fashion</span>
          </appla-tile>
        </div>
        <div class="column-small-6 column-medium-3 m-b-8px">
          <appla-tile tileColor="orange">
            <img
              tile-image
              class="img-responsive"
              src="./assets/images/tiles-images/smartphones.png"
              alt="" />
            <span tile-title>Smartphones</span>
          </appla-tile>
        </div>
        <div class="column-small-6 column-medium-3 m-b-8px">
          <appla-tile tileColor="orange">
            <img
              tile-image
              class="img-responsive"
              src="./assets/images/tiles-images/monitors.png"
              alt="" />
            <span tile-title>Monitors</span>
          </appla-tile>
        </div>
        <div class="column-small-6 column-medium-3 m-b-8px">
          <appla-tile tileColor="orange">
            <img
              tile-image
              class="img-responsive"
              src="./assets/images/tiles-images/beauty&health.png"
              alt="" />
            <span tile-title>Beauty and Healthcare</span>
          </appla-tile>
        </div>
        <div class="column-small-6 column-medium-3 m-b-8px">
          <appla-tile tileColor="orange">
            <img
              tile-image
              class="img-responsive"
              src="./assets/images/tiles-images/pets.png"
              alt="" />
            <span tile-title>Pets</span>
          </appla-tile>
        </div>
        <div class="column-small-6 column-medium-6 m-b-8px">
          <appla-tile tileColor="blue">
            <img
              tile-image
              class="img-responsive"
              src="./assets/images/tiles-images/kitchenApp.png"
              alt="" />
            <span tile-title>Kitchen Appliances</span>
          </appla-tile>
        </div>
        <div class="column-small-6 column-medium-3 m-b-8px">
          <appla-tile tileColor="blue">
            <img
              tile-image
              class="img-responsive"
              src="./assets/images/tiles-images/sports&exercise.png"
              alt="" />
            <span tile-title>Sports ans exercise</span>
          </appla-tile>
        </div>
        <div class="column-small-6 column-medium-3 m-b-8px">
          <appla-tile tileColor="orange">
            <img
              tile-image
              class="img-responsive"
              src="./assets/images/tiles-images/perfumes.png"
              alt="" />
            <span tile-title>Perfumes</span>
          </appla-tile>
        </div>
        <div class="column-small-6 column-medium-3 m-b-8px">
          <appla-tile tileColor="orange">
            <img
              tile-image
              class="img-responsive"
              src="./assets/images/tiles-images/makeup.png"
              alt="" />
            <span tile-title>Makeup</span>
          </appla-tile>
        </div>
        <div class="column-small-6 column-medium-3 m-b-8px">
          <appla-tile tileColor="orange">
            <img
              tile-image
              class="img-responsive"
              src="./assets/images/tiles-images/jwellery.png"
              alt="" />
            <span tile-title>Jewellery</span>
          </appla-tile>
        </div>
        <div class="column-small-6 column-medium-3 m-b-8px">
          <appla-tile tileColor="blue">
            <img
              tile-image
              class="img-responsive"
              src="./assets/images/tiles-images/toys.png"
              alt="" />
            <span tile-title>Games and Toys</span>
          </appla-tile>
        </div>
      </div>
    </section>

    <section class="m-b-16px">
      <div class="row">
        <div class="column-12">
          <appla-carousel>
            <appla-recently-viewed></appla-recently-viewed>
          </appla-carousel>
        </div>
      </div>
    </section>

    <section class="m-b-16px">
      <div class="row">
        <div class="column-small-6 column-medium-3 m-b-8px">
          <appla-tile tileColor="blue">
            <img
              tile-image
              class="img-responsive"
              src="./assets/images/tiles-images/backpacks.png"
              alt="" />
            <span tile-title>Backpacks</span>
          </appla-tile>
        </div>
        <div class="column-small-6 column-medium-9 m-b-8px">
          <appla-tile tileColor="blue">
            <img
              tile-image
              class="img-responsive"
              src="./assets/images/tiles-images/offices.png"
              alt="" />
            <span tile-title>Office Desks</span>
          </appla-tile>
        </div>
        <div class="column-small-6 column-medium-3 m-b-8px">
          <appla-tile tileColor="orange">
            <img
              tile-image
              class="img-responsive"
              src="./assets/images/tiles-images/printers.png"
              alt="" />
            <span tile-title>Printers and Scanners</span>
          </appla-tile>
        </div>
        <div class="column-small-6 column-medium-6 m-b-8px">
          <appla-tile tileColor="blue">
            <img
              tile-image
              class="img-responsive"
              src="./assets/images/tiles-images/allInOne.png"
              alt="" />
            <span tile-title>All-in-One PCs & Workstations</span>
          </appla-tile>
        </div>
        <div class="column-small-6 column-medium-3 m-b-8px">
          <appla-tile tileColor="blue">
            <img
              tile-image
              class="img-responsive"
              src="./assets/images/tiles-images/hairStyling.png"
              alt="" />
            <span tile-title>Hair Styling Tools</span>
          </appla-tile>
        </div>
      </div>
    </section>

    <section class="m-b-16px">
      <div class="row">
        <div class="column-12">
          <appla-carousel>
            <appla-now-trending></appla-now-trending>
          </appla-carousel>
        </div>
      </div>
    </section>

    <section class="m-b-16px">
      <div class="row">
        <div class="column-12">
          <appla-advertise-banner></appla-advertise-banner>
        </div>
      </div>
    </section>

    <section class="m-b-16px">
      <div class="row">
        <div class="column-12">
          <appla-product-category-tile></appla-product-category-tile>
        </div>
      </div>
    </section>

    <section class="m-b-16px">
      <div class="row">
        <div class="column-12">
          <appla-product-category-tile></appla-product-category-tile>
        </div>
      </div>
    </section>

    <section class="m-b-16px">
      <div class="row">
        <div class="column-12">
          <appla-product-category-tile></appla-product-category-tile>
        </div>
      </div>
    </section>

    <section class="m-b-16px">
      <div class="row">
        <div class="column-12">
          <appla-product-category-tile></appla-product-category-tile>
        </div>
      </div>
    </section>

    <section>
      <div class="row">
        <div class="column-12">
          <appla-advertise-banner></appla-advertise-banner>
        </div>
      </div>
    </section>
  </div>
</main>
