<main>
  <section class="m-b-20px">
    <appla-slider></appla-slider>
  </section>

  <div class="container">
    <section class="m-b-16px">
      <div class="row">
        <div class="column-12">
          <appla-carousel carouselType="store-offers"></appla-carousel>
        </div>
      </div>
    </section>

    <section class="m-b-16px">
      <div class="row">
        <div class="column-small-12 column-medium-9 m-b-8px">
          <appla-tile>
            <img
              class="img-responsive"
              src="./assets/images/tiles-images/supersale.png"
              alt="" />
          </appla-tile>
        </div>
        <div class="column-small-6 column-medium-3 m-b-8px">
          <appla-tile tileColor="blue">
            <img
              class="img-responsive"
              src="./assets/images/tiles-images/systemComp.png"
              alt="" />
            <span class="tile__title">System Components</span>
          </appla-tile>
        </div>
        <div class="column-small-6 column-medium-3 m-b-8px">
          <appla-tile tileColor="orange">
            <img
              class="img-responsive"
              src="./assets/images/tiles-images/fashion.png"
              alt="" />
            <span class="tile__title">Fashion</span>
          </appla-tile>
        </div>
        <div class="column-small-6 column-medium-3 m-b-8px">
          <appla-tile tileColor="orange">
            <img
              class="img-responsive"
              src="./assets/images/tiles-images/smartphones.png"
              alt="" />
            <span class="tile__title">Smartphones</span>
          </appla-tile>
        </div>
        <div class="column-small-6 column-medium-3 m-b-8px">
          <appla-tile tileColor="orange">
            <img
              class="img-responsive"
              src="./assets/images/tiles-images/monitors.png"
              alt="" />
            <span class="tile__title">Monitors</span>
          </appla-tile>
        </div>
        <div class="column-small-6 column-medium-3 m-b-8px">
          <appla-tile tileColor="orange">
            <img
              class="img-responsive"
              src="./assets/images/tiles-images/beauty&health.png"
              alt="" />
            <span class="tile__title">Beauty and Healthcare</span>
          </appla-tile>
        </div>
        <div class="column-small-6 column-medium-3 m-b-8px">
          <appla-tile tileColor="orange">
            <img
              class="img-responsive"
              src="./assets/images/tiles-images/pets.png"
              alt="" />
            <span class="tile__title">Pets</span>
          </appla-tile>
        </div>
        <div class="column-small-6 column-medium-6 m-b-8px">
          <appla-tile tileColor="blue">
            <img
              class="img-responsive"
              src="./assets/images/tiles-images/kitchenApp.png"
              alt="" />
            <p class="tile__title">Kitchen Appliances</p>
          </appla-tile>
        </div>
        <div class="column-small-6 column-medium-3 m-b-8px">
          <appla-tile tileColor="blue">
            <img
              class="img-responsive"
              src="./assets/images/tiles-images/sports&exercise.png"
              alt="" />
            <span class="tile__title">Sports ans exercise</span>
          </appla-tile>
        </div>
        <div class="column-small-6 column-medium-3 m-b-8px">
          <appla-tile tileColor="orange">
            <img
              class="img-responsive"
              src="./assets/images/tiles-images/perfumes.png"
              alt="" />
            <span class="tile__title">Perfumes</span>
          </appla-tile>
        </div>
        <div class="column-small-6 column-medium-3 m-b-8px">
          <appla-tile tileColor="orange">
            <img
              class="img-responsive"
              src="./assets/images/tiles-images/makeup.png"
              alt="" />
            <span class="tile__title">Makeup</span>
          </appla-tile>
        </div>
        <div class="column-small-6 column-medium-3 m-b-8px">
          <appla-tile tileColor="orange">
            <img
              class="img-responsive"
              src="./assets/images/tiles-images/jwellery.png"
              alt="" />
            <span class="tile__title">Jewellery</span>
          </appla-tile>
        </div>
        <div class="column-small-6 column-medium-3 m-b-8px">
          <appla-tile tileColor="blue">
            <img
              class="img-responsive"
              src="./assets/images/tiles-images/toys.png"
              alt="" />
            <span class="tile__title">Games and Toys</span>
          </appla-tile>
        </div>
      </div>
    </section>

    <section class="m-b-16px">
      <div class="row">
        <div class="column-12">
          <appla-carousel carouselType="recently-viewed"></appla-carousel>
        </div>
      </div>
    </section>

    <section class="m-b-16px">
      <div class="row">
        <div class="column-small-6 column-medium-3 m-b-8px">
          <appla-tile tileColor="blue">
            <img
              class="img-responsive"
              src="./assets/images/tiles-images/backpacks.png"
              alt="" />
            <span class="tile__title">Backpacks</span>
          </appla-tile>
        </div>
        <div class="column-small-6 column-medium-9 m-b-8px">
          <appla-tile tileColor="blue">
            <img
              class="img-responsive"
              src="./assets/images/tiles-images/offices.png"
              alt="" />
            <p class="tile__title">Office Desks</p>
          </appla-tile>
        </div>
        <div class="column-small-6 column-medium-3 m-b-8px">
          <appla-tile tileColor="orange">
            <img
              class="img-responsive"
              src="./assets/images/tiles-images/printers.png"
              alt="" />
            <span class="tile__title">Printers and Scanners</span>
          </appla-tile>
        </div>
        <div class="column-small-6 column-medium-6 m-b-8px">
          <appla-tile tileColor="blue">
            <img
              class="img-responsive"
              src="./assets/images/tiles-images/allInOne.png"
              alt="" />
            <p class="tile__title">All-in-One PCs & Workstations</p>
          </appla-tile>
        </div>
        <div class="column-small-6 column-medium-3 m-b-8px">
          <appla-tile tileColor="blue">
            <img
              class="img-responsive"
              src="./assets/images/tiles-images/hairStyling.png"
              alt="" />
            <span class="tile__title">Hair Styling Tools</span>
          </appla-tile>
        </div>
      </div>
    </section>

    <section class="m-b-16px">
      <div class="row">
        <div class="column-12">
          <appla-carousel carouselType="now-trending"></appla-carousel>
        </div>
      </div>
    </section>

    <section class="m-b-16px">
      <div class="row">
        <div class="column-12">
          <appla-advertise-banner></appla-advertise-banner>
        </div>
      </div>
    </section>

    <section class="m-b-16px">
      <div class="row">
        <div class="column-12">
          <appla-product-category-tile></appla-product-category-tile>
        </div>
      </div>
    </section>

    <section class="m-b-16px">
      <div class="row">
        <div class="column-12">
          <appla-product-category-tile></appla-product-category-tile>
        </div>
      </div>
    </section>

    <section class="m-b-16px">
      <div class="row">
        <div class="column-12">
          <appla-product-category-tile></appla-product-category-tile>
        </div>
      </div>
    </section>

    <section class="m-b-16px">
      <div class="row">
        <div class="column-12">
          <appla-product-category-tile></appla-product-category-tile>
        </div>
      </div>
    </section>

    <section>
      <div class="row">
        <div class="column-12">
          <appla-advertise-banner></appla-advertise-banner>
        </div>
      </div>
    </section>
  </div>
</main>
