<section class="m-b-20px">
	<appla-slider></appla-slider>
</section>

<div class="appla-container">
	<div class="row">
		<div class="col-12">
			<section>
				<appla-carousel carouselType="store-offers"></appla-carousel>
			</section>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<section>
				<appla-carousel carouselType="recently-viewed"></appla-carousel>
			</section>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<section>
				<appla-carousel carouselType="now-trending"></appla-carousel>
			</section>
		</div>
	</div>
</div>
