<footer class="footer m-t-40px p-t-24px">
	<div class="container">
		<section class="footer-benefits p-b-24px m-b-24px">
			<div class="row">
				<div class="col-md-3 col-sm-6 text-center">
					<div class="footer-benefit display-flex flex-column align-items-center">
						<img class="footer-benefit__image w-25"
							 src="./assets/images/footer-benefits/CustomerSupport.png"
							 alt="">
						<span class="footer-benefit__title">Customer Support</span>
						<span
							class="footer-benefit__description">Comprehensive support for customers and suppliers</span>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 text-center">
					<div class="footer-benefit display-flex flex-column align-items-center">
						<img class="footer-benefit__image w-25" src="./assets/images/footer-benefits/OnlinePayment.png"
							 alt="">
						<span class="footer-benefit__title">Online Payment</span>
						<span class="footer-benefit__description">Friendly and fast purchasing process</span>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 text-center">
					<div class="footer-benefit display-flex flex-column align-items-center">
						<img class="footer-benefit__image w-25" src="./assets/images/footer-benefits/FastDelivery.png"
							 alt="">
						<span class="footer-benefit__title">Fast Delivery</span>
						<span class="footer-benefit__description">Fast and flexible delivery of your choice</span>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 text-center">
					<div class="footer-benefit no-border display-flex flex-column align-items-center">
						<img class="footer-benefit__image w-25" src="./assets/images/footer-benefits/Secure.png" alt="">
						<span class="footer-benefit__title">100% Secure</span>
						<span class="footer-benefit__description">Secure and safe purchase</span>
					</div>
				</div>
			</div>
		</section>
		<section class="footer-menu">
			<div class="row">
				<div class="col-md-3 col-6 display-flex align-items-center justify-content-center">
					<a href="/">
						<img src="./assets/images/logo-appla-blue.svg" alt="">
					</a>
				</div>
				<div class="col-md-3 col-6">
					<h5 class="footer-menu__header m-b-16px">Categories</h5>
					<ul class="list-unstyled footer-menu__list">
						<li><a class="footer-menu__list-item d-inline-block m-b-12px" href="#">Category name</a></li>
						<li><a class="footer-menu__list-item d-inline-block m-b-12px" href="#">Category name</a></li>
						<li><a class="footer-menu__list-item d-inline-block m-b-12px" href="#">Category name</a></li>
						<li><a class="footer-menu__list-item d-inline-block m-b-12px" href="#">Category name</a></li>
						<li><a class="footer-menu__list-item d-inline-block m-b-12px" href="#">Category name</a></li>
						<li><a class="footer-menu__list-item d-inline-block m-b-12px" href="#">Category name</a></li>
					</ul>
				</div>
				<div class="col-md-2 col-6">
					<h5 class="footer-menu__header m-b-16px">Usefull Links</h5>
					<ul class="list-unstyled footer-menu__list">
						<li><a class="footer-menu__list-item d-inline-block m-b-12px" href="#">About Us</a></li>
						<li><a class="footer-menu__list-item d-inline-block m-b-12px" href="#">Careers</a></li>
						<li><a class="footer-menu__list-item d-inline-block m-b-12px" href="#">Help & Contact</a></li>
						<li><a class="footer-menu__list-item d-inline-block m-b-12px" href="#">Privacy Policy</a></li>
						<li><a class="footer-menu__list-item d-inline-block m-b-12px" href="#">Terms & Conditions</a>
						</li>
						<li><a class="footer-menu__list-item d-inline-block m-b-12px" href="#">FAQ</a></li>
					</ul>
				</div>
				<div class="col-md-2 col-6">
					<h5 class="footer-menu__header m-b-16px">Contact information</h5>
					<ul class="list-unstyled footer-menu__list">
						<li><a class="footer-menu__list-item d-inline-block m-b-12px w-100" href="tel:+35724506800">Tel.
							+357
							24506800</a></li>
						<li><a class="footer-menu__list-item d-inline-block m-b-12px w-100"
							   href="mailto:contact@appla.cy">Email:
							contact@appla.cy</a></li>
					</ul>
				</div>
				<div class="col-md-2 col-6">
					<div class="display-flex flex-column login-actions">
						<button class="btn btn-outline-primary login-actions__login m-b-12px">Login</button>
						<a href="/account/register" class="btn btn-primary login-actions__sign">Sign Up </a>
					</div>
				</div>
			</div>
		</section>
		<section class="social text-center">
			<h5 class="social__header text-uppercase m-b-16px">Follow Appla</h5>
			<ul class="list-inline">
				<li class="list-inline-item">
					<a class="social__link" href="https://www.facebook.com/ApplaCyprus/" target="_blank">
						<fa-icon [icon]="facebook" size="2x"></fa-icon>
					</a>
				</li>
				<li class="list-inline-item">
					<a class="social__link" href="https://twitter.com/ApplaCyprus" target="_blank">
						<fa-icon [icon]="faTwitter" size="2x"></fa-icon>
					</a>
				</li>
				<li class="list-inline-item">
					<a class="social__link" href="https://www.instagram.com/applacyprus" target="_blank">
						<fa-icon [icon]="faInstagram" size="2x"></fa-icon>
					</a>
				</li>
				<li class="list-inline-item">
					<a class="social__link" href="https://www.linkedin.com/company/applacyprus" target="_blank">
						<fa-icon [icon]="faLinkedin" size="2x"></fa-icon>
					</a>
				</li>
				<li class="list-inline-item">
					<a class="social__link" href="https://www.youtube.com/channel/UCmikV2xZNLFAdtmDgns0oCg"
					   target="_blank">
						<fa-icon [icon]="faYoutube" size="2x"></fa-icon>
					</a>
				</li>
				<li class="list-inline-item">
					<a class="social__link" href="https://vm.tiktok.com/ZSek34Na1/" target="_blank">
						<fa-icon [icon]="faTiktok" size="2x"></fa-icon>
					</a>
				</li>
			</ul>
		</section>
		<section class="address text-center m-t-24px">
			<div class="row">
				<div class="col-md-12">
					<p class="address__text p-t-16px">Spyrou Kyprianou 74, 1st Floor, 6057, Larnaca, Cyprus | © Apla E-Commerce LTD, 2020, All Rights
						Reserved.</p>
				</div>
			</div>
		</section>
	</div>
</footer>
