<div class="languages-menu" ngbDropdown placement="bottom-end">
  <button
    class="button button_icon languages-menu__toggle"
    ngbDropdownToggle
    type="button">
    <img
      [alt]="currentLang"
      class="languages-menu__icon"
      src="assets/images/flags/{{ currentLang }}.png" />
  </button>
  <div class="p-12px" ngbDropdownMenu>
    <button (click)="setLang('en')" ngbDropdownItem>
      <img
        alt="UK"
        class="icon-dropdown m-r-8px"
        src="/assets/images/flags/en.png" />
      <span>{{ 'HEADER.DROPDOWN_LANGUAGE.EN' | translate }}</span>
    </button>
    <button (click)="setLang('el')" ngbDropdownItem>
      <img
        alt="Greece"
        class="icon-dropdown m-r-8px"
        src="/assets/images/flags/el.png" />
      <span>{{ 'HEADER.DROPDOWN_LANGUAGE.EL' | translate }}</span>
    </button>
    <button (click)="setLang('ru')" ngbDropdownItem>
      <img
        alt="Russia"
        class="icon-dropdown m-r-8px"
        src="/assets/images/flags/ru.png" />
      <span>{{ 'HEADER.DROPDOWN_LANGUAGE.RU' | translate }}</span>
    </button>
  </div>
</div>
