<div ngbDropdown class="languages-menu" placement="bottom-end">
  <button
    class="button button_icon languages-menu__toggle"
    type="button"
    ngbDropdownToggle>
    <img
      class="languages-menu__icon"
      src="assets/images/flags/uk.webp"
      alt="UK" />
  </button>
  <div ngbDropdownMenu class="p-12px">
    <button ngbDropdownItem (click)="setLang('en')">
      <img
        class="icon-dropdown m-r-8px"
        src="assets/images/flags/uk.webp"
        alt="UK" />
      <span>English</span>
    </button>
    <button ngbDropdownItem (click)="setLang('gre')">
      <img
        class="icon-dropdown m-r-8px"
        src="assets/images/flags/greece.svg"
        alt="Greece" />
      <span>Greece</span>
    </button>
    <button ngbDropdownItem (click)="setLang('ru')">
      <img
        class="icon-dropdown m-r-8px"
        src="assets/images/flags/rus.svg"
        alt="Russia" />
      <span>Russian</span>
    </button>
  </div>
</div>
