<div class="languages-menu" ngbDropdown placement="bottom-end">
  <button
    class="button button_icon languages-menu__toggle"
    ngbDropdownToggle
    type="button">
    <img
      alt="UK"
      class="languages-menu__icon"
      src="assets/images/flags/uk.png" />
  </button>
  <div class="p-12px" ngbDropdownMenu>
    <button (click)="setLang('en')" ngbDropdownItem>
      <img
        alt="UK"
        class="icon-dropdown m-r-8px"
        src="assets/images/flags/uk.png" />
      <span>English</span>
    </button>
    <button (click)="setLang('el')" ngbDropdownItem>
      <img
        alt="Greece"
        class="icon-dropdown m-r-8px"
        src="assets/images/flags/gr.png" />
      <span>Greece</span>
    </button>
    <button (click)="setLang('ru')" ngbDropdownItem>
      <img
        alt="Russia"
        class="icon-dropdown m-r-8px"
        src="assets/images/flags/rs.png" />
      <span>Russian</span>
    </button>
  </div>
</div>
