@use 'sass:map';
@use '~assets/scss/vars';
@use '~assets/scss/mixins';

$medium-devices-breakpoint: map.get(vars.$media-breakpoints, 'medium');

.languages-menu {
  &__toggle {
    &::after {
      content: unset;
    }
  }

  &__icon {
    @include mixins.border-radius(50%);

    width: 100%;
    height: 100%;
  }

  .icon-dropdown {
    @include mixins.border-radius(vars.$base-size);

    width: vars.$base-size * 5;
    height: vars.$base-size * 5;
  }

  &.dropdown {
    .dropdown-menu {
      @include mixins.border-radius(vars.$base-size * 5);

      @media (max-width: $medium-devices-breakpoint) {
        transform: translate3d(60px, 34px, 0px) !important;
      }

      & .dropdown-item {
        padding: vars.$base-size * 3 vars.$base-size * 4;
      }
    }
  }
}
