@use "vars";

$google-btn: #31aa52;
$facebook-btn: #3b5999;

.button {
  &_google {
    color: vars.$white;
    background: $google-btn;
  }

  &_facebook {
    color: vars.$white;
    background: $facebook-btn;
  }
}
