<div class="modal-header">
  <h4 class="modal-title">{{ 'HEADER.LOGIN' | translate }}</h4>
  <button
    (click)="activeModal.dismiss('Cross click')"
    aria-label="Close"
    class="btn-close"
    type="button"></button>
</div>
<div class="modal-body">
  <form class="m-b-12px">
    <div class="control-group">
      <input
        [(ngModel)]="email"
        class="control-group__field"
        name="email"
        placeholder="Email"
        type="email" />
    </div>
    <div class="control-group">
      <input
        [(ngModel)]="password"
        class="control-group__field"
        name="password"
        placeholder="Password"
        type="password" />
    </div>
    <p *ngIf="showError">Invalid login or password</p>
  </form>
  <div class="m-b-12px">
    <button
      (click)="signWithGoogle()"
      class="w-100 button button_google p-12px">
      Google
    </button>
  </div>
  <div>
    <button
      (click)="signWithFacebook()"
      class="w-100 button button_facebook p-12px">
      Facebook
    </button>
  </div>
</div>
<div class="modal-footer">
  <button (click)="auth()" class="btn btn-outline-dark" type="button">
    {{ 'HEADER.LOGIN' | translate }}
  </button>
</div>
